<!DOCTYPE html>
<html lang="html" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/website/layout/layout}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>

</head>
<style>
    .btn-white-text-hover {
        color: #fff;
    }

    .btn-white-text-hover:hover {
        color: #b19361;
    }

</style>
<body layout:fragment="content2">
<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="../websiteShop/index.html">
                                <div class="logo">
                                    <img src="/assets/images/logo/logo_black.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->

                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <li>
                            <a href="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                <i class="icon-heart"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                <i class="icon-bag"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->

<div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <!-- Start Mobile contact Info -->
    <div class="mobile-contact-info">
        <div class="logo">
            <a href="../websiteShop/index.html"><img src="/assets/images/logo/logo_white.png" alt=""></a>
        </div>

        <address class="address">
            <span>Address: Your address goes here.</span>
            <span>Call Us: 0123456789, 0123456789</span>
            <span>Email: demo@example.com</span>
        </address>

        <ul class="social-link">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <ul class="user-link">
            <li><a href="../wishlist.html">Wishlist</a></li>
            <li><a href="../cart.html">Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li>
        </ul>
    </div>
    <!-- End Mobile contact Info -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Addcart Section -->
<div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div>
    <div class="offcanvas-add-cart-wrapper">
        <h4 class="offcanvas-title">Giỏ hàng</h4>
        <ul class="offcanvas-cart">
            <li class="offcanvas-cart-item-single" th:each="cart : ${cartItems}">
                <div class="offcanvas-cart-item-block">
                    <a href="#" class="offcanvas-cart-item-image-link">
                        <img class="offcanvas-cart-image"
                             th:src="@{'/img/' + ${cart.id.chiTietGiay.anhs.get(0).anhChinh}}"
                             style="width: 92px; height: 92px"
                             alt="">
                    </a>
                    <div class="offcanvas-cart-item-content">
                        <a href="#" class="offcanvas-cart-item-link"
                           th:text="${cart.id.chiTietGiay.hang.ten + ' ' + cart.id.chiTietGiay.giay.ten + ' ' + cart.id.chiTietGiay.loaiGiay.ten + ' ' + cart.id.chiTietGiay.mauSac.ten}"></a>
                        <div class="offcanvas-cart-item-details">
                            <span class="offcanvas-cart-item-details-quantity" th:text="${cart.soLuong} + ' x'"></span>
                            <span class="offcanvas-cart-item-details-price"
                                  th:text="${#numbers.formatCurrency(cart.id.chiTietGiay.gia * cart.soLuong)}"></span>
                        </div>
                    </div>
                </div>
                <div class="offcanvas-cart-item-delete text-right">
                    <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                </div>
            </li>

        </ul>
        <div class="offcanvas-cart-total-price">
            <span class="offcanvas-cart-total-price-text">Subtotal:</span>
            <span class="offcanvas-cart-total-price-value" th:text="${#numbers.formatCurrency(totalCartPrice)}"></span>
        </div>
        <ul class="offcanvas-cart-action-button">
            <li><a th:href="@{/cart/hien-thi}" class="btn btn-block btn-golden">Giỏ hàng</a></li>
            <li><a href="compare.html" class=" btn btn-block btn-golden mt-5">Checkout</a></li>
        </ul>
    </div> <!-- End  Offcanvas Addcart Wrapper -->
</div> <!-- End  Offcanvas Addcart Section -->

<div id="search" class="search-modal">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" placeholder="type keyword(s) here"/>
        <button type="submit" class="btn btn-lg btn-golden">Search</button>
    </form>
</div>
<!-- End Offcanvas Search Bar Section -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Tài khoản</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="../websiteShop/index.html">Trang chủ</a></li>
                                <li><a href="../shop-grid-sidebar-left.html">Tài khoản</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!--nội dung-->
<div class="account-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li id="orders-tab"><a href="#account-details" data-bs-toggle="tab"
                                               class="nav-link btn btn-block btn-md btn-black-default-hover active">Tài
                            khoản</a>
                        </li>
                        <li><a href="#orders" data-bs-toggle="tab"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Lịch sử mua</a></li>
                        <li><a th:href="@{/logout}" id="logoutBtn"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade" id="orders">
                        <div class="dashboard_tab_button ">
                            <ul role="tablist" class="nav">
                                <li><a href="#tabChoThanhToan" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover active">Chờ thanh
                                    toán</a>
                                </li>
                                <li><a href="#tabChoXacNhan" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover">Chờ xác nhận</a>
                                </li>
                                <li><a href="#tabChoGiao" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover">Chờ giao</a></li>
                                <li><a href="#tabDangGiao" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover">Đang giao</a></li>
                                <li><a href="#tabHoanThanh" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover">Hoàn thành</a>
                                </li>
                                <li><a href="#tabHuy" data-bs-toggle="tab"
                                       class="nav-link btn btn-block btn-md btn-black-default-hover">Hủy</a></li>
                            </ul>
                        </div>

                        <div class="tab-content dashboard_content mt-4">
                            <div class="tab-pane fade active" id="tabChoThanhToan">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDCTT}">
                                            <div th:if="${hd.loaiHoaDon == 3}">
                                                <td th:text="${start.index+1}"></td>
                                                <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td th:text="${#numbers.formatCurrency(hd.tongTien + hd.phiShip)}"></td>
                                                <td>Chờ thanh toán</td>

                                                <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                       class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabChoXacNhan">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDCXN}">
                                            <div th:if="${hd.loaiHoaDon == 3}">


                                                <td th:text="${start.index+1}"></td>
                                                <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td th:text="${#numbers.formatCurrency(hd.tongTien +hd.phiShip)}"></td>
                                                <td>Chờ xác nhận</td>

                                                <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                       class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabChoGiao">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDCG}">
                                            <div th:if="${hd.loaiHoaDon == 3}">


                                                <td th:text="${start.index+1}"></td>
                                                <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td th:text="${#numbers.formatCurrency(hd.tongTien +hd.phiShip)}"></td>
                                                <td>Chờ giao</td>
                                                <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                       class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabDangGiao">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDDG}">
                                            <div th:if="${hd.loaiHoaDon == 3}">
                                                <td th:text="${start.index+1}"></td>
                                                <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td th:text="${#numbers.formatCurrency(hd.tongTien +hd.phiShip)}"></td>
                                                <td>Đang giao</td>

                                                <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                       class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabHoanThanh">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDHT}">
                                            <div th:if="${hd.loaiHoaDon == 3}">


                                                <td th:text="${start.index+1}"></td>
                                                <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                                <td th:text="${#numbers.formatCurrency(hd.tongTien +hd.phiShip)}"></td>
                                                <td>Hoàn thành</td>
                                                <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                       class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabHuy">
                                <div class="table_page table-responsive" style=" overflow-y: auto; max-height: 400px; ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Tổng tiền</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="hd, start : ${listHDH}">
                                            <div th:if="${hd.loaiHoaDon == 3}">


                                            <td th:text="${start.index+1}"></td>
                                            <td th:text="${#temporals.format(hd.createdDate,'dd-MM-yyyy HH:mm:ss')}"></td>
                                            <td th:text="${#numbers.formatCurrency(hd.tongTien +hd.phiShip)}"></td>
                                            <td>Hủy</td>
                                            <td><a th:href="@{/my-account/detail/{idhd}(idhd=${hd.id})}"
                                                   class="view btn btn-success">Xem</a></td>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade show active" id="account-details">
                        <h3>Hồ sơ cá nhân</h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form th:action="@{/my-account/update-account}" th:object="${account}"
                                          method="post">
                                        <div class="form-group mb-3">
                                            <label>Email</label>
                                            <span class="form-control" th:text="${email}"
                                                  style="background-color: #f0f0f0;"></span>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" th:field="*{ten}"
                                                       name="ten-name">
                                                <span th:errors="*{ten}" style="color: red"></span>

                                            </div>

                                            <div class="form-group col-md-6 mb-3">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" th:field="*{sdt}"
                                                       name="sdt-name">
                                                <span th:errors="*{sdt}" style="color: red"></span>

                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-3">
                                                <label>Giới tính</label>
                                                <div class="input-radio">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="namRadio" name="gioiTinh"
                                                               class="custom-control-input" th:field="*{gioiTinh}"
                                                               th:value="1">
                                                        <label class="custom-control-label" for="namRadio">Nam</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="nuRadio" name="gioiTinh"
                                                               class="custom-control-input" th:field="*{gioiTinh}"
                                                               th:value="2">
                                                        <label class="custom-control-label" for="nuRadio">Nữ</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="khacRadio" name="gioiTinh"
                                                               class="custom-control-input" th:field="*{gioiTinh}"
                                                               th:value="3">
                                                        <label class="custom-control-label" for="khacRadio">Khác</label>
                                                    </div>
                                                    <span th:errors="*{gioiTinh}" style="color: red"></span>

                                                </div>
                                            </div>

                                            <div class="form-group col-md-6 mb-3">
                                                <label>Ngày sinh</label>
                                                <input type="date" class="form-control" th:field="*{ngaySinh}"
                                                       name="birthday">
                                                <span th:errors="*{ngaySinh}" style="color: red"></span>

                                            </div>
                                        </div>
                                        <div class="save_button mt-3">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p>
                                                        <a class="btn btn-light" data-bs-toggle="collapse"
                                                           href="#collapseExample" role="button" aria-expanded="false"
                                                           aria-controls="collapseExample">
                                                            Địa chỉ
                                                        </a>
                                                        <!--                                                        <button class="btn btn-primary" type="button"-->
                                                        <!--                                                                data-toggle="collapse" data-target="#collapseExample"-->
                                                        <!--                                                                aria-expanded="false" aria-controls="collapseExample">-->
                                                        <!--                                                            Button with data-target-->
                                                        <!--                                                        </button>-->
                                                    </p>
                                                    <div class="collapse" id="collapseExample">
                                                        <div style="width: 827px;" class="card card-body">
                                                            <div class="container"
                                                                 th:each="listDiaChi, start : ${diaChiList}">
                                                                <div class="mt-2">
                                                                    <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100  shadow-sm">
                                                                        <div class="row align-items-center">
                                                                            <div class="col-12">
                                            <span style="float: left"
                                                  class="pt-3 text-170 text-600 text-primary-d1 letter-spacing"
                                                  th:text="${listDiaChi.ten + ' | ' + listDiaChi.sdt}"></span>
                                                                            </div>

                                                                            <div class="col-12">
                                                                                <div class="default-form-box">
                                                                                        <span style="float:left;"
                                                                                              th:text="${listDiaChi.diaChiCuThe}"></span>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-8">
                                                                                <div style="float: left"
                                                                                     class="default-form-box">
                                                                                    <!--                                                <input th:value="${listDiaChi.phuongXa}" readonly="readonly"-->
                                                                                    <!--                                                       th:id="${'ward'+start.index}"-->
                                                                                    <!--                                                       type="text">-->
                                                                                    <span th:text="${listDiaChi.phuongXa}"
                                                                                          th:id="${'ward'+start.index}"
                                                                                          type="text"></span>
                                                                                    <span th:text="', '"></span>
                                                                                    <span th:text="${listDiaChi.quanHuyen}"
                                                                                          th:id="${'district'+start.index}"
                                                                                          type="text"></span>
                                                                                    <span th:text="', '"></span>
                                                                                    <span th:text="${listDiaChi.tinh}"
                                                                                          th:id="${'province'+start.index}"
                                                                                          type="text"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <div class="default-form-box">
                                                                                    <button th:if="${listDiaChi.diaChiMacDinh == 1}"
                                                                                            class="btn btn-success "
                                                                                            style="border-radius: 30px; font-size: 12px; height: 40px">
                                                                                        Mặc định
                                                                                    </button>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <button style="float: right" class="btn btn-dark btn-md"
                                                            type="submit">Lưu
                                                    </button>
                                                </div>
                                            </div>

                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Account Dashboard Section:::... -->

<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    $(document).ready(function () {
        // Bắt sự kiện khi người dùng click vào nút đăng xuất
        $("#logoutBtn").click(function (e) {
            // Ngăn chặn hành động mặc định của nút đăng xuất
            e.preventDefault();

            // Hiển thị cửa sổ xác nhận với SweetAlert2
            Swal.fire({
                title: 'Bạn có chắc chắn muốn đăng xuất không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Đăng xuất',
                cancelButtonText: 'Hủy bỏ',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng xác nhận, thực hiện đăng xuất
                    window.location.href = $("#logoutBtn").attr("href");
                }
            });
        });
    });

    const host = "https://provinces.open-api.vn/api/";

    async function fetchProvinceName(code) {
        try {
            const response = await fetch(`${host}p/${code}`);
            const province = await response.json();
            return province.name;
        } catch (error) {
            console.error('Error fetching province name:', error);
            return null;
        }
    }

    async function fetchDistrictName(code) {
        try {
            const response = await fetch(`${host}d/${code}`);
            const district = await response.json();
            return district.name;
        } catch (error) {
            console.error('Error fetching district name:', error);
            return null;
        }
    }

    async function fetchWardName(code) {
        try {
            const response = await fetch(`${host}w/${code}`);
            const ward = await response.json();
            return ward.name;
        } catch (error) {
            console.error('Error fetching ward name:', error);
            return null;
        }
    }

    function checked() {
        for (let i = 0; i < 5; i++) {
            let x = 'ward' + i;
            let y = 'district' + i;
            let z = 'province' + i;
            const provinceCode = document.getElementById(z).textContent;
            const districtCode = document.getElementById(y).textContent;
            const districtInput = document.getElementById(y);
            const provinceInput = document.getElementById(z);
            let wardInput = document.getElementById(x);
            let wardCode = document.getElementById(x).textContent;
            fetchWardName(wardCode).then(name => {
                wardInput.textContent = name;
            });
            fetchProvinceName(provinceCode).then(name => {
                provinceInput.textContent = name;
            });

            fetchDistrictName(districtCode).then(name => {
                districtInput.textContent = name;
            });
        }
    }

    checked();
    document.addEventListener("DOMContentLoaded", function () {
        var url = window.location.href;
        if (url.includes("#orders")) {
            var ordersTab = document.getElementById("orders-tab");
            if (ordersTab) {
                var tab = new bootstrap.Tab(ordersTab);
                tab.show();
            }
        }
    });

</script>
</body>

</html>