<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}" th:lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 350px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        h5.modal-title p {
            display: inline;
            /* hoặc display: inline-block; */
        }


        .ultag {
            display: flex;
        }

        ul .litag {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul li .icon {
            font-size: 35px;
            margin: 10px 90px;
            color: white;
        }

        ul li .text {
            font-size: 20px;
            /* font-weight: 600; */
            text-align: center;
            /* color: #ff4732; */
        }

        /* Progress Div Css  */

        ul li .progress {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgb(122, 125, 122);
            margin-top: 10px;
            display: grid;
            place-items: center;
            color: #fff;
            position: relative;
            cursor: pointer;
            overflow: visible;

        }


        .progress::after {
            content: " ";
            position: absolute;
            width: 183px;
            height: 5px;
            background-color: rgb(122, 125, 122);
            right: 32px;
        }

        .one::after {
            width: 0;
            height: 0;
        }

        ul li .progress .uil {
            display: none;
        }

        ul li .progress p {
            font-size: 13px;
        }

        /* Active Css  */

        ul li .active {
            background-color: #4ed5c6;
            display: grid;
            place-items: center;
        }

        li .active::after {
            background-color: #4ed5c6;
        }

        ul li .active p {
            display: none;
        }

        ul li .active .uil {
            font-size: 20px;
            display: flex;
        }


    </style>
</head>
<body>

<div layout:fragment="content" class="container">
    <div style="background-color: white; height: 300px;" >

        <div class="main">
            <ul class="ultag mt-3">
                <li class="litag">
                    <i id="icon1" class="icon uil uil-circle"></i>
                    <div class="progress one">
                        <i class="uil uil-check"></i>
                    </div>
                    <p class="text" id="text1"></p>
                </li>
                <li class="litag">
                    <i id="icon2" class="icon uil uil-circle"></i>
                    <div class="progress two">

                        <i class="uil uil-check"></i>
                    </div>
                    <p class="text" id="text2"></p>
                </li>
                <li class="litag">
                    <i id="icon3" class="icon uil uil-circle"></i>
                    <div class="progress three">
                        <p></p>
                        <i class="uil uil-check"></i>
                    </div>
                    <p class="text" id="text3"></p>
                </li>
                <li class="litag">
                    <i id="icon4" class="icon uil uil-circle"></i>
                    <div class="progress four">
                        <p></p>
                        <i class="uil uil-check"></i>
                    </div>
                    <p class="text" id="text4"></p>
                </li>
                <li class="litag">
                    <i id="icon5" class="icon uil uil-circle"></i>
                    <div class="progress five">
                        <p></p>
                        <i class="uil uil-check"></i>
                    </div>
                    <p class="text" id="text5"></p>
                </li>
            </ul>


        </div>

        <div th:if="${hoaDon.trangThai == 4}"  class="float-right mr-3">
            <a th:href="@{/admin/hoa-don/updatehdcg/{id}(id=${hoaDon.id})}" class="btn btn-primary">Xác nhận
                giao</a>
            <a th:href="@{/admin/hoa-don/huyhdcg/{id}(id=${hoaDon.id})}" class=" myLinkHuy btn btn-danger mr-3">Hủy</a>
        </div>
        <div th:if="${hoaDon.trangThai == 5}"  class="float-right">
            <a th:href="@{/admin/hoa-don/updatehddg/{id}(id=${hoaDon.id})}" class="btn btn-primary">Xác nhận
                thành công</a>

        </div>
        <div th:if="${hoaDon.trangThai == 3}"  class="float-right">
            <a th:href="@{/admin/hoa-don/updatehdcxn/{id}(id=${hoaDon.id})}" class="btn btn-primary">Xác nhận đơn</a>
            <a th:href="@{/admin/hoa-don/huyhdcxn/{id}(id=${hoaDon.id})}" class="myLinkHuy btn btn-danger mr-3">Hủy</a>
        </div>

    </div>

    <div style="background-color: white;">
        <div class="m-3">
            <div class="row mt-4">
                <h5 style="font-size: 17px;" class="mt-2 ms-2">Lịch sử thanh toán</h5>
                <hr style="width: 1200px;color: black;height: 1px;background-color: black;">
            </div>
            <div class="table">
                <div class="table" th:if="${displayTable}">
                    <table id="tableModal" class="table table-borderless" th:object="${httt}">
                        <thead>
                        <tr class="bg-light">
                            <th>Người xác nhận</th>
                            <th>Thời gian</th>
                            <th>Số tiền</th>
                            <th>Loại giao dịch</th>
                            <th>Ghi chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td th:text="${httt.updatedBy}"></td>
                        <td th:text="${#temporals.format(httt.updatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                        <td th:text="${#numbers.formatCurrency(httt.soTien)}"></td>
                        <td>
                            <button class="btn btn-info" style="border-radius: 50px;" th:switch="${httt.trangThai}">
                                <span th:case="1">Tiền mặt</span>
                                <span th:case="2">Chuyển khoản</span>
                                <span th:case="3">Trả sau</span>
                            </button>
                        </td>
                        <td th:text="${httt.hoaDon.ghiChu}"></td>
                        </tbody>
                    </table>
                    <h2 class="text-center mt-4" id="err"></h2>
                </div>
            </div>
        </div>

    </div>

    <div style="background-color: white;" th:object="${hoaDon}">
        <div class="m-3">
            <div class="ttdh mb-5 mt-4">

                <div class="row">
                    <h5 style="font-size: 17px;" class="mt-3 ms-2">Thông tin đơn hàng</h5>
                    <hr style="width: 1200px;color: black;height: 1px;background-color: black;">
                </div>

                <div class="row mt-2">
                    <div class="col-7">
                <span>Trạng thái: &ensp;&ensp;&ensp;&ensp;
                    <button class="bg-info text-light"
                            style="border-radius: 50px; border: white; width: 150px;">
                        <span th:if="${hoaDon.trangThai == 1}">Thành công</span>
                        <span th:if="${hoaDon.trangThai == 2}">Chờ thanh toán</span>
                        <span th:if="${hoaDon.trangThai == 3}">Chờ xác nhận</span>
                        <span th:if="${hoaDon.trangThai == 4}">Chờ giao</span>
                        <span th:if="${hoaDon.trangThai == 5}">Đang giao</span>
                        <span th:if="${hoaDon.trangThai == 6}">Hủy</span>
                    </button>
                </span>
                    </div>

                    <div class="col-5">
                <span>Loại đơn: &ensp;&ensp;&ensp;&ensp;
                    <button class="bg-info text-light"
                            style="border-radius: 50px; border: white; width: 150px;">
                        <span th:if="${hoaDon.loaiHoaDon == 1}">Tại quầy</span>
                        <span th:if="${hoaDon.loaiHoaDon == 2}">Giao hàng</span>
                        <span th:if="${hoaDon.loaiHoaDon == 3}">Online</span>
                        <!-- Add more conditions as needed -->
                        <span th:if="${hoaDon.loaiHoaDon != 1 && hoaDon.loaiHoaDon != 2 && hoaDon.loaiHoaDon != 3}">
                            <!-- Default value if none of the conditions are met -->
                            <span th:text="${hoaDon.loaiHoaDon}"></span>
                        </span>
                    </button>
                </span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-1">Tên:</div>
                    <div class="col-6">
                        <span th:text="${hoaDon.tenKhachHang == null ? '' : hoaDon.tenKhachHang}"></span>
                    </div>
                    <div class="col-1">Điện thoại:</div>
                    <div class="col-3">
                        <span th:text="${hoaDon.soDienThoai == null ? '' : hoaDon.soDienThoai}"></span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-1">Địa chỉ:</div>
                    <div class="col-6">
                        <span th:text="${hoaDon.diaChi == null ? '' : hoaDon.diaChi}"></span>
                    </div>
                    <div th:if="${hoaDon.trangThai == 6}" class="col-1">Lí do hủy:</div>
                    <div th:if="${hoaDon.trangThai == 6}" class="col-4">
                        <span th:text="${hoaDon.ghiChu == null ? '' : hoaDon.ghiChu}"></span>
                    </div>
                </div>
            </div>


            <div class="ttdh mb-5">
                <div class="table">
                    <table id="table" class="table  table-borderless">
                        <thead>
                        <tr class="bg-light">
                            <th>Ảnh</th>
                            <th>Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Size</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr style="line-height: 25px" th:each="hdct : ${listhdct}">
                            <td><img th:src="${avtctgMap[hdct.chiTietGiay.id]}" alt="" width="100" height="100"></td>
                            <td th:text="${hdct.chiTietGiay.ma}"></td>
                            <!--                        <td th:text="${hdct.chiTietGiay.hang.ten}"></td>-->
                            <td th:text="${'[' +  hdct.chiTietGiay.hang.ten + ']' + ' ' +  hdct.chiTietGiay.giay.ten + ' ' + hdct.chiTietGiay.ten + ' ' + '[' + hdct.chiTietGiay.mauSac.ten + ']'}"></td>
                            <td th:text="${hdct.chiTietGiay.kichCo.ten}"></td>
                            <td>
                                <span th:text="${hdct.soLuong}" style="margin-left: 10px; margin-right: 10px"></span>
                            </td>

                            <td>
                            <span th:if="${hdct.donGia * hdct.soLuong == ((hdct.donGia * (1- ((hdct.phanTramGiam) / 100.0)) * hdct.soLuongGiam)
                                              + (hdct.donGia * (hdct.soLuong - hdct.soLuongGiam)))}">

                                                 <span th:text="${#numbers.formatCurrency((hdct.donGia * (1- ((hdct.phanTramGiam) / 100.0)) * hdct.soLuongGiam)
                                              + (hdct.donGia * (hdct.soLuong - hdct.soLuongGiam)))}"
                                                       style="font-size: 15px"></span>
                            </span>


                                <span th:unless="${hdct.donGia * hdct.soLuong == ((hdct.donGia * (1- ((hdct.phanTramGiam) / 100.0)) * hdct.soLuongGiam)
                                              + (hdct.donGia * (hdct.soLuong - hdct.soLuongGiam)))}">
                                <span th:text="${#numbers.formatCurrency(hdct.donGia * hdct.soLuong)}"
                                      style="text-decoration: line-through; color: red; font-size: 13px"></span>
                                                            <br>
                                    <!--                                                            hdct.soLuong * (hdct.donGia - (hdct.donGia * ((hdct.phanTramGiam) / 100.0))) -->
                                             <span th:text="${#numbers.formatCurrency((hdct.donGia * (1- ((hdct.phanTramGiam) / 100.0)) * hdct.soLuongGiam)
                                              + (hdct.donGia * (hdct.soLuong - hdct.soLuongGiam)))}"
                                                   style="font-size: 15px"></span>
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="ttdh mb-5">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row mb-1">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <span style="float: left"> Tiền hàng:</span>
                                <span style="float: right"
                                      th:text="${#numbers.formatCurrency(hoaDon.tongTien + hoaDon.khuyenMai)}"></span>
                            </div>
                        </div>
                        <div class="row  mb-1">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <span style="float: left"> Khuyến mại:</span>
                                <span style="float: right"
                                      th:text="${hoaDon.khuyenMai > 0 ? '- ' + #numbers.formatCurrency(hoaDon.khuyenMai) : #numbers.formatCurrency(hoaDon.khuyenMai)}"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <span style="float: left">  Phí ship:</span>
                                <span style="float: right" th:text="${#numbers.formatCurrency(hoaDon.phiShip)}"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <span style="float: left">  Tiền thừa:</span>
                                <span style="float: right" th:text="${#numbers.formatCurrency(hoaDon.tienThua)}"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <h5 style="float: left;"> Thành tiền:</h5>
                                <span style="float: right; color: red; font-weight: bold; font-size: 18px"
                                      th:text="${#numbers.formatCurrency(hoaDon.tongTien + hoaDon.phiShip)}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!--  Phần table-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script th:inline="javascript">
        const one = document.querySelector(".one");
        const two = document.querySelector(".two");
        const three = document.querySelector(".three");
        const four = document.querySelector(".four");
        const five = document.querySelector(".five");
        const listLSHD = [[${session.lichSuHoaDon}]];
        let value = null;
        let date = null;



        let myLinks = document.querySelectorAll('.myLinkHuy');

        myLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                let hrefValue = link.getAttribute('href');
              let mess =  prompt("Nhập lí do hủy: ");
                if (mess.trim().length == 0){
                    alert("Vui lòng nhập lí do: ");
                }else {
                    window.location.href = hrefValue +"?value="+mess;
                }
            });
        });



        window.addEventListener('DOMContentLoaded', function () {
            value = check('2');
            if (value != null) {
               fillTimeLine('icon1','text1',value,'Chờ thanh toán','uil-comment-alt-question');
            }
            value = check('6');
            if (value != null && listLSHD.length == 2) {
                fillTimeLine('icon2','text2',value,'Hủy','uil-trash-alt');
            }
            value = check('4');
            if (value != null && value.hoaDon.loaiHoaDon != 1) {
                fillTimeLine('icon2','text2',value,'Chờ giao','uil-clock-nine');
            }
            value = check('6');
            if (value != null   && listLSHD.length == 3) {
                fillTimeLine('icon3','text3',value,'Hủy','uil-trash-alt');
            }
            value = check('5');
            if (value != null && value.hoaDon.loaiHoaDon != 1) {
                fillTimeLine('icon3','text3',value,'Đang giao','uil-truck');
            }
            value = check('1');
            if (value != null) {
                if (value.hoaDon.loaiHoaDon == 1){
                    fillTimeLine('icon2','text2',value,'Thành công','uil-check-circle');
                }else
                fillTimeLine('icon4','text4',value,'Thành công','uil-check-circle');
            }

        })

        function fillTimeLine(icon,text,value,trangThai,classIcon) {
            date = moment(value.createdDate).utcOffset(7).format('DD-MM-YYYY HH:mm:ss');
            activeTab(value);
            document.getElementById(icon).style.color = '#4ed5c6';
            document.getElementById(icon).classList.remove('uil-circle');
            document.getElementById(icon).classList.add(classIcon);
            document.getElementById(text).innerHTML =
                `<span style="font-weight: 550;">${trangThai}</span> <br>
                        <span style="font-size: 12px;  text-align: center;">${date}</span> <br>
                        <span style="font-size: 12px;  text-align: center;">${value.createdBy}</span>`;
        }


        function activeTab(value) {
            if (listLSHD.length == 1){
                one.classList.add("active");
                two.classList.remove("active");
                three.classList.remove("active");
                four.classList.remove("active");
                five.classList.remove("active");
                return;
            }
            if (listLSHD.length == 2){
                one.classList.add("active");
                two.classList.add("active");
                three.classList.remove("active");
                four.classList.remove("active");
                five.classList.remove("active");
                return;
            }
            if (listLSHD.length == 3){
                one.classList.add("active");
                two.classList.add("active");
                three.classList.add("active");
                four.classList.remove("active");
                five.classList.remove("active");
                return;
            }

            if (listLSHD.length == 4){
                one.classList.add("active");
                two.classList.add("active");
                three.classList.add("active");
                four.classList.add("active");
                five.classList.remove("active");
                return;
            }

            if (listLSHD.length == 5){
                one.classList.add("active");
                two.classList.add("active");
                three.classList.add("active");
                four.classList.add("active");
                five.classList.add("active");
                return;
            }

        }

        function check(phuongThuc) {
            for (let i = 0; i < listLSHD.length; i++) {
                if (listLSHD[i].phuongThuc == phuongThuc) {
                    return listLSHD[i];
                }
            }
            return null;
        }

    </script>
</div>
</body>

</html>