<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}" layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        .container {
            background-color: #EAEAEA;
        }
        .modal-backdrop.fade.show {
            opacity: 0.8;
            pointer-events: none;
        }


        .page-link {
            background-color: #fff;
            color: #0d6efd;

            border: 1px solid #dee2e6;
        }



        .formTable {
            background-color: #FFFFFF;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 600px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>


</head>

<body>
<div>
    <div class="container" style="background-color: white;">
<!--        <form action="/admin/tai-quay/addHD" method="post">-->
            <div class="row float-right">
                <a th:href="@{/admin/tai-quay/addHD}" class="btn btn-primary mt-2">Tạo hóa đơn</a>
            </div>
<!--        </form>-->

        <br> <br> <br>


        <div class="row mb-3">
            <ul class="nav nav-tabs" >
                <li class="nav-item" th:each="hdc : ${listHDC}" >
                    <a class="nav-link" href="#" th:text="${hdc.maHoaDOn}">
                        <button
                                style="background-color: white; border: none; color: red; font-weight: bold;">x
                        </button>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <a class="btn btn-primary float-left">
                    <i style="font-size: 18px" class="fab fa-plus"></i> Thêm
                </a>

            </div>


            <div class="col-9">
                <a class="btn btn-primary  float-right">
                    QR code sản phẩm
                </a>

                <a href="/admin/tai-quay/open-sanpham" class="btn btn-primary  float-right mx-2">
                    Thêm sản phẩm
                </a>
            </div>

        </div>
        <!--  Đặt form ở đây -->
        <!-- Danh sách sản phẩm -->
        <div class="row">
            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                <table style="min-height: 300px;" id="table" class="table  table-borderless">
                    <thead>
                    <tr class="bg-light">
                        <th scope="col" width="10%">Mã</th>
                        <th scope="col" width="15%">Tên</th>
                        <th scope="col" width="10%">Số lượng</th>
                        <th scope="col" width="12%">Size</th>
                        <th scope="col" width="20%">Thao tác</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr style="line-height: 25px">

                    </tr>


                    </tbody>

                </table>
            </div>
        </div>

        <!-- Tài khoản khách hàng -->
        <div class="row mb-3">
            <div class="col-3">
                <h5 style="font-weight: bold;" class="mt-3">Tài khoản</h5>

            </div>
            <div class="col-5"></div>

            <div class="col-4 ">
                <a class="btn btn-primary float-right">
                    <i style="font-size: 18px" class="fab fa-plus"></i> Chọn tài khoản
                </a>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-3">
                <span>Tên khách hàng: &nbsp;&nbsp;</span> <a href="" style="border-radius: 20px;"
                                                               class="btn btn-secondary"> Khách lẻ</a>
            </div>
        </div>

        <!-- Thông tin khách hàng -->
        <div class="row">
            <div class="col-3">
                <h5 style="font-weight: bold;" class="mt-3">Khách hàng</h5>
            </div>
            <div class="col-5"></div>

        </div>
        <hr>


        <div class="row mb-5">
            <div class="col-6">
                <div id="form" style="display: none;">
                    <div class="row mx-1 mb-4">
                        <input type="text" placeholder="tên khách hàng" class="form-control">
                    </div>
                    <div class="row mx-1  mb-4">
                        <input type="text" placeholder="số điện thoại" class="form-control">
                    </div>
                    <div class="row mx-1  mb-4">
                        <input type="text" placeholder="địa chỉ cụ thể" class="form-control">
                    </div>

                    <div class="row mb-4">
                        <div class="col-4">
                            <input type="text" placeholder="Tỉnh" class="form-control">
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Quận" class="form-control">
                        </div>
                        <div class="col-4">
                            <input type="text" placeholder="Xã" class="form-control">
                        </div>
                    </div>


                    <div class="row mx-1  mb-4">
                        <textarea rows="5" placeholder="Ghi chú" class="form-control"></textarea>

                    </div>
                </div>
            </div>
            <!-- Form thông tin thanh toán -->

            <div class="col-5">

                <h5 class="text-center">Thông tin thanh toán</h5> <br>
                <div class="row">
                    <div class="col-4">
                        <label for="">Hình thức: </label>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <label for="">Giao hàng: </label>
                    </div>

                    <div class="col-4">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" for="customSwitches"></label>
                        </div>
                    </div>

                </div>

                <div class="row mt-2">

                    <div class="col-4">Tiền hàng</div>

                    <div class="col-8 ">
                        <span class="float-right">18.000.000 VNĐ</span>
                    </div>
                </div>

                <div class="row mt-2">

                    <div class="col-4">Phí vận chuyển:</div>

                    <div class="col-8 ">
                        <span class="float-right">0 VNĐ</span>
                    </div>
                </div>

                <div class="row mt-2">

                    <div class="col-4">Giảm giá:</div>

                    <div class="col-8 ">
                        <span class="float-right">0 VNĐ</span>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-4">
                        <h6>Tổng tiền: </h6>
                    </div>

                    <div class="col-8 ">
                        <span class="float-right">0 VNĐ</span>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <button class="btn btn-danger mt-5 float-right">Xác nhận đặt hàng</button>
                    </div>
                </div>


            </div>
        </div>

        <!--    modal thêm sản phẩm-->
        <!-- Modal -->
        <div th:if="${modalSanPham}"  class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             style="display: block;" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="max-width: 1100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chi tiết giày</h5>
                        <a type="button" th:href="@{/admin/tai-quay/hien-thi}">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">

                        <div class="row mb-5 mx-5 mt-3">

                            <div class="col-8 mx-4">
                                <input type="text" class="form-control" placeholder="Tìm sản phẩm">
                            </div>

                            <div class="col-3">
                                <button type="submit" class="btn btn-primary ">Tìm kiếm</button>
                                <button type="submit" class="btn btn-danger">Làm mới</button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-3">
                                <label>Hãng:&nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width:120px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>

                            <div class="col-3">

                                <label>Giày: &nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width: 120px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>

                            <div class="col-3">

                                <label>Loại đế: &nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width: 120px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>

                            <div class="col-3">

                                <label>Loại giày: &nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width: 120px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>


                        </div>

                        <div class="row mb-3 mt-4 justify-content-center">
                            <div class="col-4">
                                <label>Size:&nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width:140px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>

                            <div class="col-4">
                                <label>Màu:&nbsp;&nbsp;</label>
                                <select style="border-radius: 7px; min-width:140px; min-height: 30px;">
                                    <option value="">Tất cả</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="table table-wrapper-scroll-y my-custom-scrollbar">

                                <table id="table" class="table  table-borderless  formTable">
                                    <thead>
                                    <tr class="bg-light">
                                        <th scope="col" width="10%">Mã </th>
                                        <th scope="col" width="15%">Tên</th>
                                        <th scope="col" width="10%">Giá trị</th>
                                        <th scope="col" width="12%">Ngày bắt đầu</th>
                                        <th scope="col" width="12%">Ngày kết thúc</th>
                                        <th scope="col" width="12%">Ngày cập nhật</th>
                                        <th scope="col" width="20%">Trạng thái</th>
                                        <th scope="col" width="20%">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>



                                    </tbody>

                                </table>
                            </div>

                        </div>
                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->

    <script th:inline="javascript">
        const customSwitches = document.getElementById("customSwitches");
        const form = document.getElementById("form");

        function loadding() {
            if (customSwitches.checked) {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        customSwitches.addEventListener("change", loadding);
        window.addEventListener("load", loadding);


    </script>
</div>
</body>


</html>