<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}" th:lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>

        .modal-backdrop.fade.show {
            opacity: 0.6;
        }


        .my-custom-scrollbar {
            position: relative;
            height: 350px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        h5.modal-title p {
            display: inline; /* hoặc display: inline-block; */
        }
    </style>


</head>

<body>

<div layout:fragment="content" class="container" style="background-color: white;">
    <!--        <form action="/admin/tai-quay/addHD" method="post">-->
    <div class="row float-right mr-1">
        <a th:href="@{/admin/tai-quay/addHD}" class="btn btn-primary mt-2 ">Tạo hóa đơn</a>
    </div>
    <!--        </form>-->

    <br> <br> <br>


    <div class="row mb-2">
        <ul class="nav nav-tabs">
            <li class="nav-item" th:each="hdc : ${listHDC}">

                <a th:if="${hdc.id == maHD}" class="nav-link active" style=" display: inline-block;"
                   th:href="@{/admin/tai-quay/detail/{id}(id=${hdc.id})}">

                    <span th:text="${hdc.maHoaDOn}"></span>
                </a>
                <a th:unless="${hdc.id == maHD}" class="nav-link " style=" display: inline-block;"
                   th:href="@{/admin/tai-quay/detail/{id}(id=${hdc.id})}">

                    <span th:text="${hdc.maHoaDOn}"></span>
                </a>
                <a style="background-color: white; border: none; color: red; font-weight: bold; font-size: 14px; margin-left: 10px; margin-right: 10px"
                   th:href="@{/admin/tai-quay/deletehd/{id}(id=${hdc.id})}">X
                </a>

                <!--

                <a th:if="${hdc.maHoaDOn == modelma}" class="nav-link active" href="/admin/banhang/hienthi/${hdc.maHoaDOn}">
                                        <span th:text="${hdc.maHoaDOn}"></span>
                                        <button
                                                style="background-color: white; border: none; color: red; font-weight: bold;">x
                                        </button>
                                    </a>

                                    <a th:unless="${hdc.maHoaDOn == modelma}" class="nav-link" href="#">
                                        <span th:text="${hdc.maHoaDOn}"></span>
                                        <button
                                                style="background-color: white; border: none; color: red; font-weight: bold;">x
                                        </button>
                                    </a>
                -->


            </li>
        </ul>
    </div>
    <div th:if="${session.get('checkBill')}" class="bill-empty">


        <div class="row mb-3">
            <div class="col-3">
                <a class="btn btn-primary float-left">
                    <i style="font-size: 18px" class="fab fa-plus"></i> Thêm
                </a>

            </div>


            <div class="col-9">
                <a class="btn btn-primary  float-right" href="/admin/tai-quay/pdf">
                    QR code sản phẩm
                </a>

                <a th:href="@{/admin/tai-quay/open-sanpham}" onclick="getAllList();"
                   class="btn btn-primary  float-right mx-2" data-toggle="modal"
                   data-target="#modalChiTietGiay">
                    Thêm sản phẩm
                </a>
                <span th:text="${errupdateDownSLHDCT}"></span>
                <span th:text="${errupdateUpSLHDCT}"></span>
                <span th:text="${errAddHd}"></span>
                <span th:text="${errShowModal}"></span>
                <span th:text="${errHD}"></span>
                <span th:text="${errSLT}"></span>
            </div>

        </div>
        <!--  Đặt form ở đây -->
        <!-- Danh sách sản phẩm -->
        <div class="row">
            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                <table id="table" class="table  table-borderless">
                    <thead>
                    <tr class="bg-light">
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Số lượng</th>
                        <th>Size</th>
                        <th>Màu sắc</th>
                        <th>Thành tiền</th>
                        <th>Thao tác</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr style="line-height: 25px" th:each="hdct : ${listhdct}">
                        <td th:text="${hdct.idHoaDonCT.chiTietGiay.ma}"></td>
                        <td th:text="${hdct.idHoaDonCT.chiTietGiay.giay.ten}"></td>
                        <td>

                                <span class="input-group-btn">

                                                   <a th:href="@{/admin/tai-quay/update-down/{id}(id=${hdct.idHoaDonCT.chiTietGiay.id})}"
                                                      class="" style="width: 10px"> <span
                                                           class="fa fa-minus"></span></a>
                                </span>
                            <!--                                <input style="width: 40px" type="text"-->
                            <!--                                       th:value="${hdct.soLuong}" th:name="soLuong"/>-->
                            <span th:text="${hdct.soLuong}" style="margin-left: 10px; margin-right: 10px"></span>
                            <span class="input-group-btn">
                                                    <a th:href="@{/admin/tai-quay/update-up/{id}(id=${hdct.idHoaDonCT.chiTietGiay.id})}"
                                                       class="" style="width: 10px; text-align: center"><span
                                                            class="fa fa-plus"></span></a>
                                </span>

                        </td>
                        <td th:text="${hdct.idHoaDonCT.chiTietGiay.kichCo.ten}"></td>
                        <td th:text="${hdct.idHoaDonCT.chiTietGiay.mauSac.ten}"></td>
                        <td th:text="${#numbers.formatCurrency(hdct.soLuong * hdct.donGia)}"></td>
                        <td>
                            <a class="delete" style="text-decoration: none"
                               th:href="@{/admin/tai-quay/deletehdct/{id}(id=${hdct.idHoaDonCT.chiTietGiay.id})}"
                               title="Xóa">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row mb-3" th:if="${listhdct != null}">
            <div class="row mb-3" th:if="${#lists.size(listhdct) > 0}">
                <div class="col-9">
                    <h5 style="float: right">Tổng tiền: </h5>
                </div>

                <div class="col-3">
                    <h5 style="float: left; color: red" th:text="${#numbers.formatCurrency(tongTienHD)}"></h5>
                </div>
            </div>
        </div>
        <!-- Tài khoản khách hàng -->
        <div class="row mb-3">
            <div class="col-3">
                <h5 id="labeltaiKhoan" style="font-weight: bold;" class="mt-3">Tài khoản</h5>

            </div>
            <div class="col-5"></div>

            <div class="col-4 ">


                <a onclick="findAllKH();" type="button" class="btn btn-primary float-right" data-toggle="modal"
                   data-target="#modalKhachHang">
                    <i style="font-size: 18px" class="fab fa-plus"></i>
                    Chọn tài khoản
                </a>
            </div>
        </div>
        <hr>
        <form action="" method="post" th:object="${nhanVienRequest}">
            <div class="row">
                <div class="col-3">
                    <span>Tên khách hàng: &nbsp;&nbsp;</span>

                    <th:block th:if="${nhanVienRequest != null}">
                        <span th:text="${nhanVienRequest.ten}"></span>
                        <br>
                        <span>Số điện thoại: &nbsp;&nbsp;</span>
                        <span th:text="${nhanVienRequest.sdt}"></span>

                        <!--                        <input id="tenNhanVien" type="text" class="form-control" th:field="*{ten}" placeholder="Tên nhân viên">-->

                    </th:block>

                    <th:block th:unless="${nhanVienRequest != null}">
                        <a href="" style="border-radius: 20px;" class="btn btn-secondary"> Khách lẻ</a>
                    </th:block>

                    <button>Xóa</button>
                </div>
                <div class="col-9">
                </div>
            </div>
            <!-- Thông tin khách hàng -->
            <div class="row">
                <div class="col-3">
                    <h5 style="font-weight: bold;" class="mt-3" id="labelKhachhang">Khách hàng</h5>
                </div>
                <div class="col-5">

                </div>

            </div>
            <hr>
        </form>
        <form action="/admin/tai-quay/addhttt" method="get" th:object="${nhanVienRequest}">
            <div class="row mb-5">

                <th:block th:if="${nhanVienRequest != null}">
                    <div class="col-6">
                        <div id="form" style="display: none;">
                            <div class="row mt-1 mx-1 mb-3">
                                <div class="col-3">
                                    <button onclick="loadAllDC();" type="button" class="btn btn-primary float-left"
                                            data-toggle="modal"
                                            data-target="#modalDoiDiaChi">
                                        Đổi địa chỉ
                                    </button>
                                </div>

                            </div>

                            <div class="row mx-1 mb-4">
                                <input type="text" placeholder="tên khách hàng"  readonly
                                       th:value="${nhanVienRequest.ten}"
                                       class="form-control">
                            </div>
                            <div class="row mx-1  mb-4">
                                <input type="text" placeholder="số điện thoại"  readonly
                                       th:value="${nhanVienRequest.sdt}"
                                       class="form-control">
                            </div>
                            <div class="row mx-1  mb-4">
                                <input type="text" placeholder="địa chỉ cụ thể" readonly
                                       th:value="${nhanVienRequest.diaChiCuThe}" class="form-control">
                            </div>

                            <div class="row mb-4">
                                <div class="col-4">
                                    <select readonly id="ward" name="xa"
                                            class="form-control">
                                        <option value="">--Chọn Phường/Xã--</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select  id="district"  readonly name="quan"
                                            class="form-control">
                                        <option value="">--Chọn Quận/Huyện--</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select  readonly id="province" name="tinh"
                                            class="form-control">
                                        <option value="">Chọn</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row mx-1  mb-4">
                            <textarea rows="5" placeholder="Ghi chú" name="ghiChu" th:value="${nhanVienRequest.ghiChu}"
                                      class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:unless="${nhanVienRequest != null}">
                    <div class="col-6">
                        <div id="form" style="display: none;">
                            <div class="row mx-1 mb-4">
                                <input type="text" placeholder="tên khách hàng"
                                       class="form-control">
                            </div>
                            <div class="row mx-1  mb-4">
                                <input type="text" placeholder="số điện thoại"
                                       class="form-control">
                            </div>
                            <div class="row mx-1  mb-4">
                                <input type="text" placeholder="địa chỉ cụ thể"
                                       class="form-control">
                            </div>

                            <div class="row mb-4">
                                <div class="col-4">
                                    <input type="text" placeholder="Tỉnh"
                                           class="form-control">
                                </div>
                                <div class="col-4">
                                    <input type="text" placeholder="Quận"
                                           class="form-control">
                                </div>
                                <div class="col-4">
                                    <input type="text" placeholder="Xã"
                                           class="form-control">
                                </div>
                            </div>


                            <div class="row mx-1  mb-4">
                            <textarea rows="5" placeholder="Ghi chú"
                                      class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                </th:block>


                <!-- Form thông tin thanh toán -->

                <div class="col-6">

                    <h5 class="text-center">Thông tin thanh toán</h5> <br>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for=""><h6>Hình thức thanh toán:</h6></label>
                            <!--                            <button type="button" class="btn btn-primary" data-toggle="modal"-->
                            <!--                                    data-target="#modalThanhToan">-->
                            <!--                                Hình thức thanh toán-->
                            <!--                            </button>-->
                        </div>
                        <div class="col-3">
                            <label for=""><h6>Tiền mặt:</h6></label>
                            <input type="radio" value="1" checked name="phuongThuc">
                        </div>
                        <div class="col-3">
                            <label for=""><h6>Chuyển khoản:</h6></label>
                            <input type="radio" value="2" name="phuongThuc">

                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-4">
                            <label for=""><h6>Giao hàng:</h6></label>
                        </div>

                        <!--                        <div class="col-4">-->
                        <!--                            <form action="/admin/tai-quay/updatelhd" method="get">-->


                        <!--                            <div class="custom-control custom-switch">-->
                        <!--                                <input th:onchange="this.form.submit()" type="checkbox" class="custom-control-input" id="customSwitches">-->
                        <!--                                <label class="custom-control-label" for="customSwitches"></label>-->
                        <!--                            </div>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                        <div class="col-4">
                            <form action="/admin/tai-quay/updatelhd" method="get">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitches"
                                           onchange="submitForm()">
                                    <label class="custom-control-label" for="customSwitches"></label>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="row mt-3">

                        <div class="col-4"><h6>Tiền hàng</h6></div>

                        <div class="col-8 ">
                            <span class="float-right" th:text="${#numbers.formatCurrency(tongTienHD)}"></span>
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-4"><h6> Phí vận chuyển:</h6></div>

                        <div class="col-8 ">
                            <input class="float-right" name="phiVanChuyen" value="0" >
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-4"> <h6>Giảm giá:</h6> </div>

                        <div class="col-8 ">
                            <span class="float-right">0 VNĐ</span>
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-4">
                            <h6>Tổng tiền: </h6>
                        </div>

                        <div class="col-8 ">
                            <span class="float-right" th:text="${#numbers.formatCurrency(tongTienHD)}"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="" > <h6>Tiền khách đưa:</h6></label>
                        </div>

                        <div class="col-5"></div>

                        <div class="col-3">
                            <input class="float-right form-control text-right" type="text"
                                   name="tienKhachDua">
                            <span th:text="${errTienKH}"></span>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-4"><h6>Tiền thừa:</h6></div>

                        <div class="col-8 ">
                            <span class="float-right">0 VNĐ</span>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <button class="btn btn-danger mt-5 float-right">Xác nhận đơn hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:unless="${session.get('checkBill')}" class="bill-empty">
        <div class="row d-flex justify-content-center mb-2 mt-5">
            <img class="d-flex align-items-center" style="width: 300px; height: auto;" src="/img/bills-empty.png">
        </div>
        <div class="row d-flex justify-content-center">
            <h5 class="text-center secondary">Chọn hóa đơn để bán hàng</h5>
        </div>
    </div>
    <!--    modal thêm sản phẩm-->
    <!-- Modal -->
    <div class="modal fade" id="modalChiTietGiay" tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-dialog" style="max-width: 1100px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalALabel">Chi tiết giày</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-5 mx-5 mt-3">

                            <div class="col-8 mx-4">
                                <input type="text" class="form-control" id="textSearch"
                                       placeholder="Nhập mã hoặc tên sản phẩm....">
                            </div>

                            <div class="col-3">
                                <button type="submit" class="btn btn-primary" onclick="test();">Tìm kiếm</button>
                                <button class="btn btn-danger" onclick="getAllList();">Làm mới</button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-3">
                                <label>Hãng:&nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width:120px; min-height: 30px;" id="cbbHang">

                                </select>
                            </div>

                            <div class="col-3">

                                <label>Giày: &nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width: 120px; min-height: 30px;" id="cbbGiay">

                                </select>
                            </div>

                            <div class="col-3">

                                <label>Loại đế: &nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width: 120px; min-height: 30px;" id="cbbDe">

                                </select>
                            </div>

                            <div class="col-3">

                                <label>Loại giày: &nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width: 120px; min-height: 30px;"
                                        id="cbbLoaiGiay">

                                </select>
                            </div>
                        </div>

                        <div class="row mb-5 mt-4  justify-content-center">
                            <div class="col-4">
                                <label>Size:&nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width:140px; min-height: 30px;" id="cbbSize">
                                </select>
                            </div>

                            <div class="col-4">
                                <label>Màu:&nbsp;&nbsp;</label>
                                <select onchange="test();"
                                        style="border-radius: 7px; min-width:140px; min-height: 30px;" id="cbbMau">

                                </select>
                            </div>
                        </div>

                        <!--  Phần table-->
                        <div class="row mt-4">
                            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="tableModal" class="table table-borderless">
                                    <thead>
                                    <tr class="bg-light">
                                        <th width="15%">Ảnh</th>
                                        <th width="10%">Mã</th>
                                        <th width="20%">Tên giày</th>
                                        <th width="10%">Loại đế</th>
                                        <th width="10%">Hãng</th>
                                        <th width="10%">Loại giày</th>
                                        <th width="10%">Số lượng</th>
                                        <th width="20%">Giá(VNĐ)</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="sinhvien">

                                    </tbody>

                                </table>
                                <h2 class="text-center mt-4" id="err"></h2>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--        Modal chọn số lượng-->

    <div class="modal fade" id="modalSoLuong" tabindex="-1" data-backdrop="static"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
            <form action="/admin/tai-quay/addhdct" method="get">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="soLuongTon"></h5>
                        <a type="button" onclick="resetModal();" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-5 d-flex justify-content-center">
                                    <input name="maCTG" class="form-control text-center" type="text" id="inputMaCTG"
                                           readonly>
                                </div>
                                <div class="col-5 d-flex justify-content-center">
                                    <input type="number" name="soLuong" min="1" value="1"
                                           class="form-control  text-center" id="inputSoLuong">
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Modal chọn khách hàng-->


    <!-- Modal -->
    <div class="modal fade" data-backdrop="static" id="modalKhachHang" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-4">

                            <div class="col-1"></div>
                            <div class="col-7">
                                <input type="text" class="form-control" id="textSearchKH"
                                       placeholder="Nhập tên hoặc số điện thoại...">
                            </div>

                            <siv class="col-4">
                                <button class="btn btn-primary mx-2" onclick="findKH();">Tìm kiếm</button>
                                <button href="" class="btn btn-primary" onclick="findAllKH();">Làm mới</button>
                            </siv>
                        </div>

                        <div class="row">
                            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="tableKhachHang" class="table  table-borderless  formTable">
                                    <thead>
                                    <tr class="bg-light">
                                        <th width="20%">Ảnh</th>
                                        <th width="25%">Tên</th>
                                        <th width="25%">Email</th>
                                        <th width="20%">Số điện thoai</th>
                                        <th width="10%">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody id="khachHang">


                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal đổi địa chỉ -->
    <div class="modal fade" id="modalDoiDiaChi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách địa chỉ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-6"></div>
                            <div class="col-6  ">
                                <!-- Thêm địa chỉ theo id tai khoản -->
                                <a onclick="themDiaChi();" class="btn btn-primary float-right " data-toggle="modal"
                                   data-target="#modalThemDiaChi">Thêm Đ/C</a>
                            </div>


                        </div>

                        <div class="row">
                            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="table" class="table  table-borderless  formTable">
                                    <thead>
                                    <tr class="bg-light">
                                        <th width="11%">D/c cụ thể</th>
                                        <th width="21%">Phường/xã</th>
                                        <th width="21%">Quận/Huyện</th>
                                        <th width="21%">Tỉnh/Thành Phố</th>
                                        <th width="19%">Trạng thái</th>
                                        <th width="7%">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbodyDDC">


                                    </tbody>

                                </table>
                            </div>

                            <div class="row text-right">Phân trang ở đây nha pro</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--    Modal thêm địa chỉ-->

    <div class="modal fade" id="modalThemDiaChi" tabindex="-1" data-backdrop="static"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm địa chỉ</h5>
                    <a type="button" class="close" onclick="resetModalTDC();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <label for="provincetdc">Tỉnh/Thành phố</label>
                            <select id="provincetdc" name="" class="form-control">

                            </select>
                        </div>

                        <div class="row">
                            <label for="districttdc">Quận/Huyện</label>
                            <select name="" class="form-control" id="districttdc">
                                <option value="">---Chọn Quận/Huyện----</option>
                            </select>
                        </div>

                        <div class="row">
                            <label for="wardtdc">Xã/Phường</label>
                            <select name="" class="form-control" id="wardtdc">
                                <option value="">---Chọn Xã/Phường----</option>
                            </select>
                        </div>

                        <div class="row">
                            <label>Đ/C chi tiết</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--                    ?link day nha thang ngiu-->
                    <button type="button" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

<!--    alo ô la-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
            integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript" >

        const form = document.getElementById("form");


        const customSwitches = document.getElementById("customSwitches");

        function loadding() {
            if (customSwitches.checked) {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }


        // load modal
        var modal = document.getElementById('modalChiTietGiay');
        var modalContent = modal.querySelector('.modal-content');
        var modalDDC = document.getElementById('modalDoiDiaChi');
        var modalContentDDC = modalDDC.querySelector('.modal-content');
        var buttons = null;
        const tableBody = document.getElementById("sinhvien");
        const table = document.getElementById("tableModal");
        var maCTG = '';
        var selectHang = document.getElementById('cbbHang');
        var selectGiay = document.getElementById('cbbGiay');
        var selectDe = document.getElementById('cbbDe');
        var selectLoaiGiay = document.getElementById('cbbLoaiGiay');
        var selectSize = document.getElementById('cbbSize');
        var selectMauSac = document.getElementById('cbbMau');

        // Fill and click CTG
        function getAllList() {
            $.ajax({
                type: "get",
                url: "http://localhost:9090/api/chi-tiet-giay/allCTG",
                success: function (data) {
                    document.getElementById('err').innerHTML = "";
                    document.getElementById('textSearch').value = "";
                    loadAll(data);
                    loadAllSelect();
                }
            })
        }

        function loadAll(data) {

            tableBody.innerHTML = '';
            for (let index = 0; index < data.length; index++) {
                insertTrCTG(data[index]);
            }
            buttons = document.querySelectorAll("#sinhvien  button");
            addEventButton();
        }

        function insertTrCTG(x) {
            console.log("Vào");
            var btn = '<button class="btn btn-warning" data-toggle="modal" data-target="#modalSoLuong">Chọn</button>';
            const row = tableBody.insertRow();
            row.insertCell().innerHTML = '';
            row.insertCell().innerHTML = x.ma;
            row.insertCell().innerHTML = x.giay.ten;
            row.insertCell().innerHTML = x.deGiay.ten;
            row.insertCell().innerHTML = x.hang.ten;
            row.insertCell().innerHTML = x.loaiGiay.ten;
            row.insertCell().innerHTML = x.soLuong;
            row.insertCell().innerHTML = x.gia;
            row.insertCell().innerHTML = btn;
        }

        // Thêm sự kiện click cho mỗi button
        function addEventButton() {
            for (let index = 0; index < buttons.length; index++) {
                buttons[index].addEventListener("click", function () {
                    var row = index + 1;
// Điều chỉnh độ mờ của modalContent bằng thuộc tính CSS
                    modalContent.style.opacity = '0.6';
                    maCTG = table.rows[row].cells[1].textContent;
                    document.getElementById("inputMaCTG").value = maCTG;
                    document.getElementById("inputSoLuong").value = 1;
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:9090/api/chi-tiet-giay/soLuongTon?value=" + maCTG,
                        success: function (data) {
                            document.getElementById('soLuongTon').innerHTML = 'Số lượng tồn: ' + data;
                        }
                    })
                });
            }
        }


        function loadAllSelect() {
            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/hang",
                success: function (data) {
                    findAll(data, selectHang);
                }

            })

            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/giay",
                success: function (data) {
                    findAll(data, selectGiay);
                }

            })

            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/de",
                success: function (data) {
                    findAll(data, selectDe);
                }

            })

            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/loaiGiay",
                success: function (data) {
                    findAll(data, selectLoaiGiay);
                }

            })

            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/size",
                success: function (data) {
                    findAll(data, selectSize);
                }

            })

            $.ajax({
                type: "Get",
                url: "http://localhost:9090/api/chi-tiet-giay/mau",
                success: function (data) {
                    findAll(data, selectMauSac);
                }

            })
        }

        function findAll(data, select) {
            select.innerHTML = '';
            var row = document.createElement('option');
            row.text = '---Tất cả---';
            row.value = null;
            row.style.textAlign = 'center';
            select.add(row);
            for (let index = 0; index < data.length; index++) {
                insertCbb(data[index], select);
            }
        }

        // Fill Hang
        function insertCbb(x, select) {
            var row = document.createElement('option');
            row.text = x.ten;
            row.value = x.id;
            row.style.textAlign = 'center';
            select.add(row);
        }

        function test() {
            var params = {
                idGiay: selectGiay.value,
                idHang: selectHang.value,
                idDe: selectDe.value,
                idLoaigiay: selectLoaiGiay.value,
                idSize: selectSize.value,
                idMau: selectMauSac.value,
                textSearch: document.getElementById('textSearch').value
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:9090/api/chi-tiet-giay/multipleFind",
                data: JSON.stringify(params),
                contentType: 'application/json',
                success: function (data) {
                    if (data.length == 0) {
                        document.getElementById('err').innerHTML = "Không có dữ liệu phù hợp";
                        loadAll(data);
                    } else {
                        document.getElementById('err').innerHTML = "";
                        loadAll(data);
                    }
                }
            })
        }

        function resetModal() {
            modalContent.style.opacity = '1';
        }

        function resetModalTDC() {
            modalContentDDC.style.opacity = '1';
        }


        //    Chọn khách hàng
        const tbody = document.getElementById('khachHang');
        const textSearch = document.getElementById('textSearchKH');

        function findAllKH() {
            $.ajax({
                type: 'get',
                url: 'http://localhost:9090/api/khachHang/findAll',
                success: function (data) {
                    textSearch.value = '';
                    loaAllKH(data);
                }

            })

        }

        function loaAllKH(data) {
            tbody.innerHTML = '';
            for (let index = 0; index < data.length; index++) {
                insertTrCKH(data[index]);
            }

        }


        function insertTrCKH(x) {
            var id = x.id
            var button = document.createElement("a");
            button.href = "/admin/tai-quay/chonTK/" + id + "#labeltaiKhoan";
            button.text = 'Chọn';
            button.classList.add("btn")
            button.classList.add("btn-warning")

            var tr = tbody.insertRow();
            tr.insertCell().innerHTML = '';
            tr.insertCell().innerHTML = x.ten;
            tr.insertCell().innerHTML = x.email;
            tr.insertCell().innerHTML = x.sdt;
            tr.insertCell().appendChild(button);
        }

        function findKH() {
            $.ajax({
                type: 'get',
                url: 'http://localhost:9090/api/khachHang/findByText?value=' + textSearch.value,
                success: function (data) {
                    loaAllKH(data);
                }
            })
        }

        function apiDiaChiGender(idTinh, idQuan, idXa, tinh, quan, phuong) {
            const host = "https://provinces.open-api.vn/api/";
            var renderData = (array, select) => {
                let row = `<option  value="">--Chọn Tỉnh/Thành phố--</option>`;
                array.forEach(element => {
                    if (tinh === element.code) {
                        renderDataDis(element.districts, idQuan);
                        row = `<option selected value="${element.name}">${element.name}</option>`;
                    }
                });
                console.log("#" + select);
                document.querySelector("#" + select).innerHTML = row;
            }

            var renderDataDis = (array, select) => {
                let row = `<option disable value="">--Chọn Quận/Huyện--</option>`;
                array.forEach(element => {
                    if (quan === element.code) {
                        renderDataWar(element.wards, idXa);
                        row = `<option selected value="${element.name}">${element.name}</option>`;
                    }
                });

                document.querySelector("#" + select).innerHTML = row;
            }

            var renderDataWar = (array, select) => {
                let row = `<option disable value="">--Chọn Phường/Xã--</option>`;
                array.forEach(element => {
                    if (phuong === element.code) {
                        row = `<option selected value="${element.name}">${element.name}</option>`;
                    }
                });

                document.querySelector("#" + select).innerHTML = row;
            }

            var callAPI = (api) => {
                return axios.get(api)
                    .then((response) => {
                        renderData(response.data, idTinh);
                    });
            };
            callAPI('https://provinces.open-api.vn/api/?depth=3');

        }


        function themDiaChi() {
            modalContentDDC.style.opacity = '0.6';
            const host = "https://provinces.open-api.vn/api/";
            var callAPI = (api) => {
                return axios.get(api)
                    .then((response) => {
                        renderData(response.data, "provincetdc");
                    });
            }
            callAPI('https://provinces.open-api.vn/api/?depth=1');
            var callApiDistrict = (api) => {
                return axios.get(api)
                    .then((response) => {
                        renderData(response.data.districts, "districttdc");
                    });
            }
            var callApiWard = (api) => {
                return axios.get(api)
                    .then((response) => {
                        renderData(response.data.wards, "wardtdc");
                    });
            }

            var renderData = (array, select) => {
                let row = ' <option disable value="">--Chọn Thành Phố--</option>';
                array.forEach(element => {
                    row += `<option value="${element.code}">${element.name}</option>`
                });
                document.querySelector("#" + select).innerHTML = row
            }

            $("#provincetdc").change(() => {
                callApiDistrict(host + "p/" + $("#provincetdc").val() + "?depth=2");

            });
            $("#districttdc").change(() => {
                callApiWard(host + "d/" + $("#districttdc").val() + "?depth=2");

            });

        }

        // Modal ĐỔI ĐỊA CHỈ
        const idKh = [[${session.idkh}]];
        const tbodyDDC = document.getElementById('tbodyDDC');

        function loadAllDC() {
            $.ajax({
                type: 'get',
                url: 'http://localhost:9090/api/khachHang/findListDiaChi?value=' + idKh,
                success: function (data) {
                    loadAllTableDC(data);
                }
            })
        }

        function loadTrDDC(x, index) {
            // Update thành địa chỉ mặc định
            var button = document.createElement('a');
            button.href = '/admin/tai-quay/updateDCMD/' + x.id + '#labelKhachhang';
            button.text = 'Chọn'
            button.classList.add('btn');
            button.classList.add('btn-warning');
            var row = tbodyDDC.insertRow();
            var idHTML = index + 1;
            var selectTinh = '<select disabled id="province' + idHTML + '" class="form-control text-center"></select>'
            var selectQuan = '<select disabled id="district' + idHTML + '" class="form-control text-center"></select>'
            var selectXa = '<select disabled id="ward' + idHTML + '" class="form-control text-center"></select>'
            var checkBox = '';

            if (x.diaChiMacDinh == 1) {
                checkBox = '  <button class="btn btn-success">Mặc định</button>';


            }
            row.insertCell().innerHTML = x.diaChiCuThe;
            row.insertCell().innerHTML = selectXa;
            row.insertCell().innerHTML = selectQuan;
            row.insertCell().innerHTML = selectTinh;
            row.insertCell().innerHTML = checkBox;
            row.insertCell().appendChild(button);
            apiDiaChiGender('province' + idHTML, 'district' + idHTML, 'ward' + idHTML, x.tinh, x.quanHuyen, x.phuongXa);
        }

        function loadAllTableDC(data) {
            tbodyDDC.innerHTML = '';
            for (let index = 0; index < data.length; index++) {
                loadTrDDC(data[index], index);
            }
        }

        var checkbox = document.getElementById("customSwitches");

        function submitForm() {
            var checkbox = document.getElementById("customSwitches");
            if (idKh == null) {
                checkbox.checked = false;
                alert("Chưa chọn khách hàng");
                return;
            }
            if (checkbox.checked == true) {
                // Nếu checkbox được chọn, gửi yêu cầu GET đến đường dẫn /admin/tai-quay/updatelhd
                window.location.href = "/admin/tai-quay/updatelhd#labelKhachhang";
            } else {
                window.location.href = "/admin/tai-quay/updatelhtq#labelKhachhang";
            }
            console.log(idKh + ' :abc');
        }

        const loaihdg = [[${session.loaihdg}]];

        if (idKh != null) {
            if (loaihdg == 2) {
                checkbox.checked = true; // Đánh dấu checkbox là checked
            } else if (loaihdg == 1) {
                checkbox.checked = false; // Tắt checkbox
            }
            customSwitches.addEventListener("change", loadding);
            window.addEventListener("load", loadding);
        }


        var tinh = [[${session.tinh}]];
        var quan = [[${session.quan}]];
        var phuong = [[${session.phuong}]];
        apiDiaChiGender('province', 'district', 'ward', tinh, quan, phuong);
    </script>

</div>
</body>


</html>