<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <!----css3---->
    <link rel="stylesheet" href="/css/custom.css">
    <style>


        .container {
            background-color: #EAEAEA;
        }

        .page-link {
            background-color: #fff;
            color: #0d6efd;

            border: 1px solid #dee2e6;
        }

        .form-control {
            padding-left: 32px;
        }

        .form-control:focus {

            border: none;
            box-shadow: none;
        }


        .formTable {
            background-color: #FFFFFF;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 600px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
</head>

<body>
<section>
    <div layout:fragment="content" class="container mt-1 px-2 ">
        <div class="row">
            <h3 style="font-weight: bold; text-align: center;" class="mt-2">Quản Lý Đế giày</h3>
            <div class="col-1"></div>
            <div class="col-10 mt-4 formTable">
                <h5 style="font-weight: bold;" class="mt-3">Bộ lọc</h5>
                <hr>
                <form th:action="@{/admin/deGiay/hien-thi#table}" class="mt-3 mb-3">
                    <div class="row">
                        <div class="col-6">
                            <label> Tìm kiếm </label>
                            <input th:value="${txtSearch}"
                                   class="form-control" name="txtSearch"
                                   placeholder="Nhập mã, tên của đế giày..." onchange="this.form.submit()"
                                   style="border-radius: 10px;" id="txtSearchInput">
                            <p class="text-danger"></p>
                        </div>
                        <div class="col-6">
                            <label>Trạng thái</label>
                            <select style="border-radius: 10px;" class="form-select" id="trangThaiSelect" onchange="this.form.submit()"
                                    name="trangThai">
                                <div style="border: 10px">
                                    <option th:selected="${trangThai}  == -1 ? true:false" value="-1"> Tất cả
                                    </option>
                                    <option th:selected="${trangThai} == 0 ? true:false" value="0"> Hoạt động
                                    </option>
                                    <!--                                                th:selected="${chucVu.tenChucVu}.equal('Nhân viên')  ? true : false"-->
                                    <option th:selected="${trangThai} == 1 ? true:false" value="1"> Ngưng hoạt động
                                    </option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/admin/deGiay/hien-thi}" class="btn btn-primary">Làm mới</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <h5 style="font-weight: bold; text-align: center;" class="mt-3">Danh sách Đế giày </h5>
            <hr>
            <div class="table table-wrapper-scroll-y">
                <a class="btn btn-primary mt-1 mb-1 float-right" th:href="@{/admin/deGiay/view-add}">
                    <i style="font-size: 18px" class="fab fa-plus"></i> Thêm
                </a>
                <table id="table" class="table  table-borderless  formTable">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đế giày</th>
                        <th>Tên đế giày</th>
                        <th>Trạng thái</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="g,deGiay : ${danhSachDeGiay}">
                        <td th:text="${deGiay.count}"></td>
                        <td th:text="${g.ma}"></td>
                        <td th:text="${g.ten}"></td>
                        <td th:if="${g.trangThai==1}" style="width: 160px;">
                            <button class="btn btn-danger" style="border-radius: 30px; font-size: 9px; width: 120px">Ngưng hoạt
                                động
                            </button>
                        </td>
                        <td th:if="${g.trangThai==0}" style="width: 160px;">
                            <button class="btn btn-primary" style="border-radius: 30px; font-size: 9px; width: 120px">Hoạt động
                            </button>
                        </td>
                        <td>
                            <a class="btn btn-warning edit" style=" padding: 5px 10px; font-size: 12px" th:href="@{/admin/deGiay/view-update/{id}(id=${g.id})}">
                                <i class="material-icons text-white mt-1" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a onclick="return confirm('Bạn có muốn xóa không')" class="btn btn-danger delete" style=" padding: 5px 10px; font-size: 12px" th:href="@{/admin/deGiay/delete/{id}(id=${g.id})}">
                                <i class="material-icons text-white mt-1" data-toggle="tooltip" title="Delete">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${#lists.size(danhSachDeGiay.content) >0 }" class="row">
                <div class="col-3">
                    <div class="hint-text">Tổng: <b th:text="${tongDeGiay}"></b> &ensp; Xem trang <b
                            th:text="${pageNo+1}+'/'+${danhSachDeGiay.totalPages}"></b>
                    </div>
                </div>

                <div class="col-4">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:if="${pageNo > 0}"
                               th:href="@{/admin/deGiay/hien-thi#table(pageNo=${pageNo-1},trangThai=${trangThai},txtSearch=${txtSearch})}">Prev</a>
                            <!--                            ,trangThai=${trangThai},textSearch=${textSearch}-->
                            <span class="page-link" th:unless="${pageNo > 0}">Prev</span>
                        </li>
                        <li th:each="i: ${#numbers.sequence(0, danhSachDeGiay.totalPages-1)}" class="page-item">
                            <a th:href="@{/admin/deGiay/hien-thi#table(pageNo=${i},trangThai=${trangThai},txtSearch=${txtSearch})}"
                               class="page-link"
                               th:text="${i +1}"></a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:if="${pageNo < danhSachDeGiay.totalPages -1}"
                               th:href="@{/admin/deGiay/hien-thi#table(pageNo=${pageNo+1},trangThai=${trangThai},txtSearch=${txtSearch})}">Next</a>
                            <span class="page-link" th:unless="${pageNo < danhSachDeGiay.totalPages -1}">Next</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:unless="${#lists.size(danhSachDeGiay.content) >0 }">
                <h3 class="text-center text-body">Không có dữ liệu phù hợp</h3>
            </div>
        </div>
    </div>
</section>
</body>
</html>