<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            background-color: #EAEAEA;
        }

        .search {

            top: 6px;
            left: 10px;
        }


        .formInput {
            background-color: #FFFFFF;
        }

        .formTable {
            background-color: #FFFFFF;
        }

        .modal-backdrop.fade.show {
            opacity: 0.8;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 400px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
</head>

<body>
<div layout:fragment="content" class="container px-2">
    <div class="row">
        <form action="/admin/voucher/view-add#tableCTG" method="post" th:object="${data}">
            <div class="row">
                <div class="col-3 formInput">
                    <div class="row">
                        <h5 style="font-weight: bold; text-align: center; margin-top: 15px">Thêm Giảm Giá</h5>
                    </div>
                    <br>

                    <label><span style="color: #c82333">*</span>Tên Giảm Giá</label>
                    <input th:field="*{ten}" type="text" class="form-control">
                    <p th:text="${errTen}" class="text-danger"></p> <br>


                    <label><span style="color: #c82333">*</span>Giá trị (%)</label>
                    <input th:field="*{phanTramGiam}" type="number" min="1" class="form-control">
                    <p th:text="${errGiaTri}" class="text-danger"></p> <br>

                    <label><span style="color: #c82333">*</span>Số lượng</label>
                    <input th:field="*{soLuong}" type="number" min="1" class="form-control">
                    <p th:text="${errSoLuong}" class="text-danger"></p> <br>


                    <label><span style="color: #c82333">*</span>Ngày bắt đầu</label>
                    <input th:field="*{ngayBatDau}" id="ngayBatDau" type="datetime-local" class="form-control">
                    <p th:text="${errNBD}" class="text-danger"></p> <br>


                    <label><span style="color: #c82333">*</span>Ngày kết thúc</label>
                    <input th:field="*{ngayKetThuc}" id="ngayKetThuc" type="datetime-local" class="form-control">
                    <p th:text="${errNKT}" class="text-danger"></p>   <br>


                    <br>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mb-3 " onclick="return confirm('Bạn chắc chăn muốn thêm');"
                                name="button" value="button">
                            Thêm mới
                        </button>
                    </div>

                </div>

                <div class="col-1"></div>

                <div class="col-8 formTable">
                    <!-- Bảng sản phẩm -->
                    <h5 style="font-weight: bold; margin-top: 4px;">Danh mục</h5>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                    <div class="row mt-2">
                        <div class="table table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table  table-borderless">
                                <thead>
                                <tr class="bg-light">
                                    <th scope="col" width="10%">
                                        <input th:onchange="this.form.submit()"
                                               th:name="requestId"
                                               th:value="AllG" class="form-check-input"
                                               th:checked="${checkAll}"
                                               type="checkbox">
                                    </th>
                                    <th scope="col" width="10%">#</th>
                                    <th scope="col" width="15%">Mã sản phẩm</th>
                                    <th scope="col" width="35%">Tên sản phẩm</th>
                                    <th scope="col" width="30%">Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="x : ${listGiay}">

                                    <th scope="row">
                                        <input
                                                :name="requestId"
                                                th:checked="${#strings.contains(listId, x.id)} ? true:false"
                                                th:name="requestId"
                                                th:value="${x.id}"
                                                th:onchange="this.form.submit()"
                                                class="form-check-input"
                                                type="checkbox">
                                    </th>
                                    <td th:text="${xStat.index +1}"></td>
                                    <td th:text="${x.ma}"></td>
                                    <td th:text="${x.ten}"></td>
                                    <td th:if="${x.trangThai == 0}">
                                        <button type="button" class="btn btn-success"
                                                style="border-radius: 30px; font-size: 12px; height: 40px">
                                            Đang kinh doanh
                                        </button>
                                    </td>
                                    <td th:unless="${x.trangThai == 0}">
                                        <button type="button" class="btn btn-danger"
                                                style="border-radius: 30px; font-size: 12px; height: 40px">
                                            Ngừng kinh doanh
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- Bảng chỉ tiết sản phẩm -->
                    <div class="row mt-4">
                        <h5 style="font-weight: bold; ">Chi tiết sản phẩm</h5>
                        <div class="table table-wrapper-scroll-y my-custom-scrollbar">

                            <table id="tableCTG" class="table  table-borderless">
                                <thead>
                                <tr class="bg-light">
                                    <th scope="col" width="10%">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               th:value="AllCTG"
                                               th:name="requestIdCTG"
                                               th:onchange="this.form.submit()"
                                               th:checked="${checkAllCTG}"
                                        >
                                    </th>

                                    <th scope="col" width="15%">Ảnh</th>
                                    <th scope="col" width="10%">Mã</th>
                                    <th scope="col" width="20%">Tên sản phẩm</th>
                                    <th scope="col" width="10%">Kích cỡ</th>
                                    <th scope="col" width="10%">Màu</th>
                                    <th scope="col" width="15%">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="x : ${listCTG}">
                                    <th scope="row">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               th:value="${x.id}"
                                               th:name="requestIdCTG"
                                               th:onchange="this.form.submit()"
                                               th:checked="${#strings.contains(listIDCTG, x.id)} ? true:false"
                                        >
                                    </th>

                                    <td>
                                        <img th:src="${avtctgMap[x.id]}" alt="" style="width: 95px; height: auto">
                                    </td>
                                    <td th:text="${x.ma}"></td>
                                    <td th:text="${x.giay.ten}"></td>
                                    <td th:text="${x.kichCo.ten}"></td>
                                    <td th:text="${x.mauSac.ten}"></td>
                                    <!--                                    <td th:if="${x.trangThai == 0}">-->
                                    <!--                                        <button type="button" class="btn btn-success"-->
                                    <!--                                                style="border-radius: 30px; font-size: 11px; height: 40px">-->
                                    <!--                                            Đang kinh doanh-->
                                    <!--                                        </button>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td th:unless="${x.trangThai == 0}">-->
                                    <!--                                        <button type="button" class="btn btn-danger"-->
                                    <!--                                                style="border-radius: 30px; font-size: 11px; height: 40px">-->
                                    <!--                                            Ngừng kinh doanh-->
                                    <!--                                        </button>-->
                                    <!--                                    </td>-->
                                    <td>
                                        <button type="button" data-toggle="modal"
                                                th:attr="data-target='#detail'+${x.id}"
                                                class="btn btn-success "
                                                style=" padding: 5px 10px; font-size: 12px;">
                                            <i class="material-icons text-white mt-1"
                                               title="Chi tiết">visibility</i>
                                        </button>
                                        <!-- Modal -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form nhập liệu -->
        </form>
        <!--        modal-->
        <div th:each="x: ${listCTG}">
            <div th:id="detail+${x.id}" class="modal fade">
                <div class="modal-dialog" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header text-light" style="background-color: #aea7a7;">
                            <h4 class="modal-title">Chi tiết sản phẩm</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Mã sản phẩm: </b>
                                        <i th:text="${x.ma}"></i>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Tên sản phẩm: </b>
                                        <i th:text="${x.giay.ten}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Giá: </b>
                                        <i th:text="${x.gia}+' VNĐ'"></i>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Số lượng: </b>
                                        <i th:text="${x.soLuong}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Kích cỡ: </b>
                                        <i th:text="${x.kichCo.ten}"></i>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Đế giày: </b>
                                        <i th:text="${x.deGiay.ten}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Hãng: </b>
                                        <i th:text="${x.hang.ten}"></i>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <b>Màu sắc: </b>
                                        <i th:text="${x.mauSac.ten}"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">

                                </div>
                                <b class="col-4">
                                    Ảnh
                                </b>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img th:src="${avtctgMap[x.id]}" alt="" style="width: auto; height: 150px">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary"
                                   data-dismiss="modal" value="Thoát">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>