<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .col-2.container {
            border-radius: 10px; /* Đặt bán kính bo viên radius mong muốn */
            background-color: #ffffff; /* Đặt màu nền trắng, bạn có thể thay đổi mã màu tùy chọn */
            padding: 10px; /* Đặt khoảng trắng bên trong nếu cần thiết */
            margin-left: 15px;
        }
    </style>
<!--    <script>-->
<!--        document.addEventListener('DOMContentLoaded', function () {-->
<!--            var thongKeForm = document.getElementById('thongKeForm');-->
<!--            var ngayBatDauInput = document.getElementById('NBDHoaDon');-->
<!--            var ngayKetThucInput = document.getElementById('NKTHoaDon');-->

<!--            ngayBatDauInput.addEventListener('change', function () {-->
<!--                thongKeForm.submit();-->
<!--            });-->

<!--            ngayKetThucInput.addEventListener('change', function () {-->
<!--                thongKeForm.submit();-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function () {-->
<!--            // Lấy giá trị từ model và đặt cho các input fields-->
<!--            var ngayBatDau = /*[[${ngayBatDau}]]*/ '';-->
<!--            var ngayKetThuc = /*[[${ngayKetThuc}]]*/ '';-->

<!--            // Đặt giá trị cho input fields-->
<!--            $('#NBDHoaDon').val(ngayBatDau);-->
<!--            $('#NKTHoaDon').val(ngayKetThuc);-->
<!--        });-->
<!--    </script>-->


</head>
<body>
<section>
    <div layout:fragment="content" class="col-md-12" style="margin: auto" id="page-top">
        <div class="row">
            <form class="form-inline m-3" id="thongKeForm">
                <!-- Các input fields khác nếu cần -->
                <div class="col-2">
                    <div class="form-floating">
                        <input type="datetime-local" class="form-control" name="ngayBatDau" id="NBDHoaDon"/>
                        <label for="NBDHoaDon" class="form-label">Từ ngày</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-floating">
                        <input type="datetime-local" class="form-control" name="ngayKetThuc" id="NKTHoaDon"/>
                        <label for="NKTHoaDon" class="form-label">Đến ngày</label>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="row container-fluid">
            <div class="col-2 container">
                <div class="row">
                    <h2 class="h5 mb-5 text-gray-800">DOANH THU</h2>
                </div>
                <div class="row">
                    <h2 id="doanhThu"></h2>
                </div>
            </div>
            <div class="col-2 container">
                <div class="row">
                    <h2 class="h5 mb-5 text-gray-800">SỐ SẢN PHẨM ĐÃ BÁN</h2>
                </div>
                <div class="row">
                    <h2 id="sanPhamDaBan"></h2>
                </div>
            </div>
            <div class="col-2 container">
                <div class="row">
                    <h1 class="h5 mb-5 text-gray-800">HÓA ĐƠN ĐÃ TẠO</h1>
                </div>
                <div class="row">
                    <h2 id="1"></h2>
                </div>
            </div>
            <div class="col-2 container">
                <div class="row">
                    <h2 class="h5 mb-5 text-gray-800">HÓA ĐƠN THÀNH CÔNG</h2>
                </div>
                <div class="row">
                    <h2 id="2"></h2>
                </div>
            </div>
            <div class="col-2 container">
                <div class="row">
                    <h2 class="h5 mb-5 text-gray-800">HÓA ĐƠN HỦY</h2>
                </div>
                <div class="row">
                    <h2 id=3""></h2>
                </div>
            </div>
        </div>
        <br>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Biểu đồ thống kê kinh doanh SOPHIA STORE</h1>
                <p class="mb-4"></p>

                <!-- Content Row -->
                <div class="row">

                    <div class="col-xl-8 col-lg-7">

                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Doanh thu
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                                <hr>
                                Styling for the area chart can be found in the myAreaChart
                            </div>
                        </div>

                        <!-- Bar Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Top 10 sản phẩm bán chạy nhất</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                                <hr>
                                Styling for the bar chart can be found in the
                            </div>
                        </div>

                    </div>

                    <!-- Donut Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <hr>
                                Styling for the donut chart can be found in the
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>DTUAN</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script>
            var today = new Date();

            // Cộng thêm 1 năm
            var preYear = new Date(today);
            preYear.setMonth(0)
            preYear.setDate(1)

            // Định dạng thành chuỗi YYYY-MM-DDThh:mm (định dạng của datetime-local)
            var preYearString = preYear.toISOString().slice(0, 16);
            var Year = new Date().toISOString().slice(0, 16);
            // Đặt giá trị mặc định cho input ngày bắt đầu và ngày kết thúc
            document.getElementById("NBDHoaDon").value = preYearString;
            document.getElementById("NKTHoaDon").value = Year;

            $(document).ready(function () {
                // Make an asynchronous request to your API endpoint
                $.get("/api/thong-ke", function (data) {
                    // Update HTML elements with API data
                    $("#doanhThu").text(data.doanhThu);
                    // Similar updates for other elements
                });
            });
        </script>
        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>
        <script src="/js/demo/chart-bar-demo.js"></script>
    </div>
</section>
</body>
</html>