<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Sophia Sneaker</title>

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <style>


        .notifications {
            position: fixed;
            top: 30px;
            right: -20px;
            z-index: 2000;
        }
        .thongBao {
            position: relative;
            margin-bottom: 10px;
            width: 350px;
            display: grid;
            background-color: white;
            grid-template-columns: 60px 1fr 70px;
            box-shadow: 2px 2px 4px 4px #999999;
            --color: #0abf30;
            animation: show 0.3s ease 1 forwards
        }

        .thongBao i {
            color: var(--color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

        .thongBao .title {
            font-size: 18px;
            color: black;
        }

        .thongBao span, .thongBao i:nth-child(3) {
            color: black;
        }

        @keyframes show {
            0% {
                transform: translateX(100%);
            }
            40% {
                transform: translateX(-5%);
            }
            80% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-10%);
            }
        }

        .thongBao::before {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--color);
            width: 100%;
            height: 3px;
            content: '';
            animation: timeOut 3s linear 1 forwards
        }

        @keyframes timeOut {
            to {
                width: 0;
            }
        }

        .thongBao.error {
            --color: #f24d4c;
            box-shadow: 2px 2px 4px 4px #999999;
        }

        .header-logo .logo img {
            width: 140%;
            height: auto;
        }
    </style>
</head>

<body>
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a th:href="@{/sophia-store/home}"><img src="/assets/images/logo/logo.jpg"
                                                                           alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--golden">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="main-menu-link" th:href="@{/sophia-store/home}">Trang chủ </a>
                                    </li>
                                    <li class="has-megaitem">
                                        <a th:href="@{/sophia-store/product}">Sản phẩm </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/sophia-store/chung-toi}">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/sophia-store/lien-he}">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/sophia-store/FAQS}">FAQS</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->
                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <li class="has-dropdown">
                                <a th:href="${#authorization.expression('isAuthenticated()') ? '/my-account/home' : '/login/home'}">
                                    <i class="icon-user" ></i>
<!--                                    <span class="item-count">3</span>-->
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Hồ sơ cá nhân</a></li>
                                        <li><a href="index-2.html">Đơn mua</a></li>
                                        <li><a th:href="@{/logout}">Đăng Xuất</a></li>
                                    </ul>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/cart/hien-thi}" >
                                    <i class="icon-bag"></i>
                                    <span id="soLuongSessionGioHang" class="item-count" th:utext="${#authentication.principal != null ? soLuongSessionGioHang : '0'}"></span>
                                </a>
                            </li>
<!--                            <li>-->
<!--                                <a href="#search">-->
<!--                                    <i class="icon-magnifier"></i>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">-->
<!--                                    <i class="icon-menu"></i>-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    // Đoạn mã để cập nhật số lượng sản phẩm trong giỏ hàng ngay khi thêm vào giỏ
    function updateCartItemCount() {
        $.get("/cart/get-cart-item-count", function (cartItemCount) {
            $(".item-count").text(cartItemCount);
        });
    }

</script>
<div class="notifications"></div>
<section layout:fragment="content2">
</section>


<footer class="footer-section footer-bg section-top-gap-100">
    <div class="footer-wrapper">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n6">
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" >
                            <h5 class="title">THÔNG TIN</h5>
                            <ul class="footer-nav">
                                <li><a href="#">Thông tin giao hàng</a></li>
                                <li><a href="#">Điều khoản và điều kiện</a></li>
                                <li><a href="../contact-us.html">Liên hệ</a></li>
                                <li><a href="#">Trả lại</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" >
                            <h5 class="title">TÀI KHOẢN CỦA TÔI</h5>
                            <ul class="footer-nav">
                                <li><a href="../productwebsite/my-account.html">Tài khoản của tôi</a></li>
                                <li><a href="../wishlist.html">Danh sách yêu thích</a></li>
                                <li><a href="../privacy-policy.html">Chính sách bảo mật</a></li>
                                <li><a href="../faq.html">Câu hỏi thường gặp</a></li>
                                <li><a href="#">Lịch sử đơn hàng</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden">
                            <h5 class="title">THỂ LOẠI</h5>
                            <ul class="footer-nav">
                                <li><a href="#">Thời trang</a></li>
                                <li><a href="#">Thể thao</a></li>
                                <li><a href="#">Trang trí</a></li>
                                <li><a href="#">Khác</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div  class="footer-widget-single-item footer-widget-color--golden">
                            <h5 class="title">VỀ CHÚNG TÔI</h5>
                            <ul class="footer-nav">
                                <li><a href="#">Chúng tôi  gồm các sinh viên của nhóm SD-52</a></li>
                                <li><a href="#">Địa chỉ: Dương Liễu, Hoài Đức, Hà Nội</a></li>
                                <li><a href="#">Email: sd-52@gmail.com</a></li>
                                <li><a href="#">Khác</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $jq360 = jQuery.noConflict();
</script>
<script src="/assets/js/vendor/vendor.min.js"></script>
<script src="/assets/js/plugins/plugins.min.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<script th:inline="javascript">
    const notifications = document.querySelector('.notifications');
    const errhd = [[${session.errOnline}]];
    const successhd =[[${session.successOnline}]];
    const thongBaook =[[${session.thongBaook}]];
    const thongBaofalse =[[${session.thongBaofalse}]];


    if (errhd != null) {
        window.addEventListener("DOMContentLoaded", function () {
            let type = 'error';
            let icon = 'fa-solid fa-circle-exclamation';
            let title = 'Thất bại!';
            let text = errhd;
            createToast(type, icon, title, text);
            removeSeesion('errOnline');
        })
    }
    if (successhd != null){
        window.addEventListener("DOMContentLoaded", function () {
            let type = 'success';
            let icon = 'fa-solid fa-circle-check';
            let title = 'Thành công!';
            let text = successhd;
            createToast(type, icon, title, text);
            removeSeesion('successOnline');
        })
    }

    function createToast(type, icon, title, text) {
        let newToast = document.createElement('div');
        newToast.innerHTML = `
            <div class="thongBao ${type}">
                <i class="${icon}"></i>
                <div class="content">
                    <div class="title">${title}</div>
                    <span>${text}</span>
                </div>
                <i class="fa-solid fa-xmark" onclick="(this.parentElement).remove()"></i>
            </div>`;
        notifications.appendChild(newToast);
        // newToast.timeOut = setTimeout(
        //     ()=>newToast.remove(), 3000
        // )
    }
    function alertInfor(){
        console.log(thongBaook);
        console.log(thongBaofalse);
        if(thongBaook != null){
            let type = 'success';
            let icon = 'fa-solid fa-circle-check';
            let title = 'Thành công!';
            let text = thongBaook;
            createToast(type, icon, title, text);
            removeSeesion('thongBaook');
        }
       else if(thongBaofalse != null){
            let type = 'error';
            let icon = 'fa-solid fa-circle-exclamation';
            let title = 'Thất bại!';
            let text = thongBaofalse;
            createToast(type, icon, title, text);
            removeSeesion('thongBaofalse');

        }
    }

    function removeSeesion(name) {
        $.ajax({
            type: 'get',
            url: 'http://localhost:8080/api/hoa-don/deleteSession/' + name,
        })
    }
</script>
</body>
</html>