<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">

</head>

<body>
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a th:href="@{/sophia-store/product}"><img src="/assets/images/logo/logo_black.png"
                                                                           alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--golden">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active main-menu-link" th:href="@{/sophia-store/home}">Trang chủ </a>
                                    </li>
                                    <li class="has-megaitem">
                                        <a th:href="@{/sophia-store/product}">Sản phẩm </a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="">Bài Viết</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Trang</a>
                                    </li>
                                    <li>
                                        <a href="about-us.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->
                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <li>
                                <a th:href="${#authorization.expression('isAuthenticated()') ? '/my-account/home' : '/login/home'}">
                                    <i class="icon-user" ></i>
                                    <span class="item-count">3</span>

                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count" th:text="${soLuong}"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
<!--                            <li>-->
<!--                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">-->
<!--                                    <i class="icon-menu"></i>-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section layout:fragment="content2">
</section>


<footer class="footer-section footer-bg section-top-gap-100">
    <div class="footer-wrapper">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n6">
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                             data-aos-delay="0">
                            <h5 class="title">INFORMATION</h5>
                            <ul class="footer-nav">
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="../contact-us.html">Contact</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                             data-aos-delay="200">
                            <h5 class="title">MY ACCOUNT</h5>
                            <ul class="footer-nav">
                                <li><a href="../productwebsite/my-account.html">My account</a></li>
                                <li><a href="../wishlist.html">Wishlist</a></li>
                                <li><a href="../privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="../faq.html">Frequently Questions</a></li>
                                <li><a href="#">Order History</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                             data-aos-delay="400">
                            <h5 class="title">CATEGORIES</h5>
                            <ul class="footer-nav">
                                <li><a href="#">Decorative</a></li>
                                <li><a href="#">Kitchen utensils</a></li>
                                <li><a href="#">Chair & Bar stools</a></li>
                                <li><a href="#">Sofas and Armchairs</a></li>
                                <li><a href="#">Interior lighting</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                             data-aos-delay="600">
                            <h5 class="title">ABOUT US</h5>
                            <div class="footer-about">
                                <p>We are a team of designers and developers that create high quality Magento,
                                    Prestashop, Opencart.</p>

                                <address class="address">
                                    <span>Address: Your address goes here.</span>
                                    <span>Email: demo@example.com</span>
                                </address>
                            </div>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $jq360 = jQuery.noConflict();
</script>
<script src="/assets/js/vendor/vendor.min.js"></script>
<script src="/assets/js/plugins/plugins.min.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>
</body>
</html>