<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="/css/custom.css">
    <link href="./css/chiTietGiay.css">
    <script>
        function clearFilter() {
            // Lấy ra hai ô input theo tên
            var keywordInput = document.getElementsByName('keyword')[0];
            var productNameInput = document.getElementsByName('productName')[0];

            // Đặt giá trị của hai ô input về rỗng
            keywordInput.value = '';
            productNameInput.value = '';
        }
    </script>
</head>
<body>
<section>
    <div layout:fragment="content" class="col-md-12">
        <div>
            <div class="row">
                <div class="col-12">
                    <form th:action="@{/admin/chi-tiet-giay/page/1}" class="form-inline m-3" id="searchForm">
                        <div class="d-flex align-items-center">
                            <input type="hidden" name="sortField" th:value="${sortField}"/>
                            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                            <input type="search" name="keyword"
                                   th:value="${keyword}" placeholder="Nhập từ khóa tìm kiếm" class="form-control search"/>
                            <input type="search" name="productName" th:value="${productName}"
                                   placeholder="Nhập tên sản phẩm" class="form-control search"/>
                            <input style="margin-right: 10px" type="submit" value="Search"
                                   class="btn btn-primary ml-2"/>
                            <button class="btn btn-secondary" type="button" onclick="clearFilter()">CLEAR</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 p-0 d-flex  justify-content-center">
                        <h2 class="ml-lg-2">QUẢN LÍ CHI TIẾT GIÀY</h2>
                    </div>
                    <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                        <a href="/admin/chi-tiet-giay/add" class="btn btn-success">
                            <i class="material-icons">&#xE147;</i> <span>THÊM MỚI</span></a>
                    </div>
                </div>
            </div>
            <table class="table  table-hover table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã chi tiết giày</th>
                    <th>Tên giày</th>
                    <th>Size</th>
                    <th>Loại đế</th>
                    <th>Hãng</th>
                    <th>Loại giày</th>
                    <th>Màu sắc</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Trạng thái</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ctg, iterStat : ${listChiTietGiay}">
                    <td th:text="${iterStat.count}"></td>
                    <td>[[${ctg.ma}]]</td>
                    <td>[[${ctg.giay.ten}]]</td>
                    <td>[[${ctg.kichCo.ten}]]</td>
                    <td>[[${ctg.deGiay.ten}]]</td>
                    <td>[[${ctg.hang.ten}]]</td>
                    <td>[[${ctg.loaiGiay.ten}]]</td>
                    <td>[[${ctg.mauSac.ten}]]</td>
                    <td>[[${ctg.gia}]]</td>
                    <td>[[${ctg.soLuong}]]</td>
                    <td style="width: 160px;">
                        <button class="btn"
                                th:classappend="${ctg.trangThai == 1} ? 'btn-success' : 'btn-danger'"
                                style="border-radius: 30px; font-size: 9px;">
                            [[${ctg.trangThai} == 1 ? 'Đang hoạt động' : 'Ngưng hoạt động']]
                        </button>

                    </td>

                    <td>
                        <a class="edit" style="text-decoration: none"
                           th:href="@{'/admin/chi-tiet-giay/edit/' + ${ctg.id}}" title="Thay đổi thông tin">
                            <i style="color: #FFC107" class="fas fa-edit"></i>
                        </a>
                        <a class="delete" style="text-decoration: none"
                           th:href="@{'/admin/chi-tiet-giay/delete/' + ${ctg.id}}" title="Xóa"
                           onclick="return confirm('Bạn có muốn xóa không')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--            phân trang-->

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(1, '<<')"></a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${currentPage - 1}, '<')"></a>
                    </li>
                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${i}, ${i})"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${currentPage + 1}, '>')"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${totalPages}, '>>')"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="r m-1">
            <span th:if="${totalItem > 0}"> # [[${startCount}]] đến [[${endCount}]] trong tổng số [[${totalItem}]] </span>
            <span th:unless="${totalItem > 0}">Không có Chi Tiết Sản Phẩm trong trang này</span>
        </div>
    </div>
</section>
</body>
</html>