<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="/css/custom.css">
    <style>
        .filter form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .form-group-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; /* Điều này là tùy chọn, nếu bạn muốn căn giữa theo chiều dọc */
        }

        .form-select {
            border-radius: 15px;

        }

        .form-group {
            flex-basis: calc(20% - 10px); /* Điều chỉnh độ rộng của mỗi thành phần */
            margin-right: 30px; /* Tạo khoảng cách giữa các thành phần */
        }

        /* Điều chỉnh kích thước của select box */

        .form-group input.form-control {
            width: 90%;
        }

        /* Điều chỉnh khoảng cách giữa nút Lọc và các thành phần trước nó */
        .form-group:last-child {
            margin-right: 0;
        }

        .container {
            background-color: #EAEAEA;
        }

        .form-control:focus {
            border: none;
            box-shadow: none;

        }

        .formTable {
            background-color: #FFFFFF;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 600px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }

        label.file-upload {
            cursor: pointer;
            position: relative;
            display: inline-block;
        }

        label.file-upload input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        .qr-code {
            display: flex;
            flex-direction: column; /* Chỉnh hướng hiển thị thành dọc */
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .qr-code > * {
            margin: 5px; /* Để tạo khoảng cách giữa các phần tử con */
        }
    </style>
    <!-- Include xlsx library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="/js/chiTietGiay.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

<!--    // xuất file qrcode-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

</head>
<body>
<section>
    <div layout:fragment="content" class="container mt-1 px-2 ">
        <div>
            <div class="row">
                <h3 style="font-weight: bold; text-align: center;" class="mt-2">QUẢN LÝ CHI TIẾT GIÀY</h3>

                <div class="col-1"></div>
                <div class="col-10 mt-3 formTable">
                    <h5 style="font-weight: bold;" class="mt-3">Bộ lọc</h5>
                    <hr>
                    <form th:action="@{/admin/chi-tiet-giay/page/1}" class="mt-3 mb-3" id="searchForm">
                        <div class="row">
                            <div class="col-3">
                                <label for="trangThaiSelect">Trạng thái</label>
                                <select style="border-radius: 15px;" class="form-select" name="trangThai"
                                        id="trangThaiSelect" onchange="this.form.submit()">
                                    <div style="border: 10px">
                                        <option th:selected="${trangThai}  == -1 ? true:false" value="-1" th:value="-1">
                                            Tất cả
                                        </option>
                                        <option th:selected="${trangThai} == 1 ? true:false" value="0" th:value="1">
                                            Ngưng hoạt động
                                        </option>
                                        <option th:selected="${trangThai} == 0 ? true:false" value="1" th:value="0">
                                            Đang hoạt động
                                        </option>
                                    </div>
                                </select>
                            </div>
                            <div class="col-9">
                                <label> Tìm kiếm </label>
                                <div class="d-flex">
                                    <input type="hidden" name="sortField" th:value="${sortField}"/>
                                    <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                                    <input type="search" name="keyword"
                                           th:value="${keyword}" placeholder="Nhập từ khóa tìm kiếm"
                                           class="form-control search"/>
                                    <input type="search" name="productName" th:value="${productName}"
                                           placeholder="Nhập tên sản phẩm" class="form-control search"/>
                                    <input style="margin-right: 10px" type="submit" value="Tìm kiếm"
                                           class="btn btn-primary ml-2"/>
                                    <a class="btn btn-danger" style="margin-right: 10px; width:110px"
                                       href="/admin/chi-tiet-giay">Làm mới</a>
                                </div>
                                <p class="text-danger"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="filter">
            <div class="row">
                <div class="col-10 mt-4 container">
                    <form th:action="@{/admin/chi-tiet-giay/page/1}" class="form-inline m-3" id="">
                        <input type="hidden" name="sortField" th:value="${sortField}"/>
                        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                        <div class="form-group">
                            <label>Loại giày</label>
                            <select id="loaiGiayCombobox" name="loaiGiay" class="form-select">
                                <option value="null" th:selected="${loaiGiay == null}">Tất cả</option>
                                <option th:each="loaiGiayItem : ${loaiGiayList}" th:value="${loaiGiayItem.ten}"
                                        th:text="${loaiGiayItem.ten}"
                                        th:selected="${loaiGiayItem.ten == loaiGiay}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Đế giày</label>
                            <select id="deGiayCombobox" name="deGiay" class="form-select">
                                <option value="null" th:selected="${deGiay == null}">Tất cả</option>
                                <option th:each="deGiayItem : ${deGiayList}" th:value="${deGiayItem.ten}"
                                        th:text="${deGiayItem.ten}" th:selected="${deGiayItem.ten == deGiay}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Kích cỡ</label>
                            <select id="kichCoCombobox" name="kichCo" class="form-select">
                                <option value="null" th:selected="${kichCo == null}">Tất cả</option>
                                <option th:each="kichCoItem : ${kichCoList}" th:value="${kichCoItem.ten}"
                                        th:text="${kichCoItem.ten}" th:selected="${kichCoItem.ten == kichCo}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Màu sắc</label>
                            <select id="mauSacCombobox" name="mauSac" class="form-select">
                                <option value="null" th:selected="${mauSac == null}">Tất cả</option>
                                <option th:each="mauSacItem : ${mauSacList}" th:value="${mauSacItem.ten}"
                                        th:text="${mauSacItem.ten}" th:selected="${mauSacItem.ten == mauSac}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Hãng</label>
                            <select id="hangCombobox" name="hang" class="form-select">
                                <option value="null" th:selected="${hang == null}">Tất cả</option>
                                <option th:each="hangItem : ${hangList}" th:value="${hangItem.ten}"
                                        th:text="${hangItem.ten}" th:selected="${hangItem.ten == hang}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Kiểu dáng</label>
                            <select id="giayCombobox" name="giay" class="form-select">
                                <option value="null" th:selected="${giay == null}">Tất cả</option>
                                <option th:each="giayItem : ${giayList}" th:value="${giayItem.ten}"
                                        th:text="${giayItem.ten}" th:selected="${giayItem.ten == giay}"></option>
                            </select>
                        </div>
                        <div class="form-group-container">
                            <div class="form-group">
                                <label for="giaMin">Giá thấp nhất</label>
                                <input id="giaMin" name="giaMin" class="form-control custom-width" th:value="${giaMin}"
                                       placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="giaMax">Giá cao nhất</label>
                                <input id="giaMax" name="giaMax" class="form-control" th:value="${giaMax}"
                                       placeholder="10.000.000">
                            </div>
                            <div class="form-group">
                                <label for="trangThai">Trạng thái</label>
                                <select style="border-radius: 15px;" class="form-select" name="trangThai"
                                        id="trangThai" onchange="this.form.submit()">
                                    <div style="border: 10px">
                                        <option th:selected="${trangThai}  == -1 ? true:false" value="-1" th:value="-1">
                                            Tất cả
                                        </option>
                                        <option th:selected="${trangThai} == 1 ? true:false" value="0" th:value="1">
                                            Ngưng hoạt động
                                        </option>
                                        <option th:selected="${trangThai} == 0 ? true:false" value="1" th:value="0">
                                            Đang hoạt động
                                        </option>
                                    </div>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 28px">Lọc</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h5 style="font-weight: bold; text-align: center;" class="mt-3">Danh sách Chi Tiết Giày </h5>
            <hr>
            <div style="padding-left:10px">
                <a class="btn btn-primary mt-1 mb-1 float-right" th:href="@{/admin/chi-tiet-giay/add}">
                    <i style="font-size: 18px; width: 10px" class="fab fa-plus"></i> Thêm
                </a>
                <a class="btn btn-success" id="exportButton" th:href="@{/admin/exportToExcel}">
                    <i class="fa-solid fa-file-export"></i>
                    Xuất danh sách
                </a>
                <div class="mt-1 mb-1 float-right" style="padding-right: 20px">
                    <form id="excelForm" th:action="@{/admin/importFromExcel}" method="post"
                          enctype="multipart/form-data">
                        <input type="file" name="file" id="fileInput" accept=".xlsx, .xls">
                        <button type="button" class="btn btn-success" onclick="uploadExcel()"><i
                                class="fa-solid fa-file-import"></i> Nhập danh sách
                        </button>
                    </form>
                </div>
            </div>

            <div class="table table-wrapper-scroll-y my-custom-scrollbar">
                <table id="table" class="table  table-borderless  formTable">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh</th>
                        <th>Mã chi tiết giày</th>
                        <th>Tên giày</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>QR code</th>
                        <th>Trạng thái</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ctg, iterStat : ${listChiTietGiay}">
                        <td th:text="${iterStat.count}"></td>
                        <td>
                            <img th:src="@{${ctg.anhs.get(0).getDuongDan()}}" style="width: 100px; height: 100px"
                                 class="img-fluid" alt=""/>
                        </td>
                        <td>[[${ctg.ma}]]</td>
                        <td th:text="${ctg.hang != null ? ctg.hang.ten : ''} + ' ' +
                               ${ctg.giay != null ? ctg.giay.ten : ''} + ' ' +
                               ${ctg.ten}+' '+
                               ${ctg.mauSac != null ? ctg.mauSac.ten : ''}+' '+
                               ${ctg.kichCo != null ? ctg.kichCo.ten : ''}"></td>
                        <td>[[${#numbers.formatDecimal(ctg.gia, 0, 'COMMA', 0, 'POINT')}]]</td>
                        <td>[[${#numbers.formatDecimal(ctg.soLuong, 0, 'COMMA', 0, 'POINT')}]]</td>
                        <!-- Thay đổi cột hiển thị mã QR -->
                        <td class="qr-code">
                            <div th:text="${ctg.qrCode}"></div>
                        </td>
                        <td style="width: 160px;">
                            <button class="btn" th:classappend="${ctg.trangThai == 0} ? 'btn-success' : 'btn-danger'"
                                    style="border-radius: 30px; font-size: 9px;">
                                [[${ctg.trangThai} == 0 ? 'Đang hoạt động' : 'Ngưng hoạt động']]
                            </button>
                        </td>

                        <td>
                            <a class="edit" style="text-decoration: none"
                               th:href="@{'/admin/chi-tiet-giay/edit/' + ${ctg.id}}" title="Thay đổi thông tin">
                                <i style="color: #FFC107" class="fas fa-edit"></i>
                            </a>
                            <a class="delete" style="text-decoration: none"
                               th:href="@{'/admin/chi-tiet-giay/delete/' + ${ctg.id}}" title="Xóa"
                               onclick="return confirm('Bạn có muốn xóa không')">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!--            phân trang-->
        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(1, '<<')"></a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${currentPage - 1}, '<')"></a>
                    </li>

                    <!-- Hiển thị các trang cụ thể -->
                    <th:block th:if="${totalPages <= 5}">
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                               th:replace="admin/fragment/fragments::pageproductDetail_link(${i}, ${i})"></a>
                        </li>
                    </th:block>
                    <th:block th:unless="${totalPages <= 5}">
                        <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}">
                            <th:block th:if="${i > 0 and i <= totalPages}">
                                <a th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                                   th:replace="admin/fragment/fragments::pageproductDetail_link(${i}, ${i})"></a>
                            </th:block>
                        </li>
                    </th:block>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${currentPage + 1}, '>')"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="admin/fragment/fragments::pageproductDetail_link(${totalPages}, '>>')"></a>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="r m-1">
            <span class="hint-text" th:if="${totalItem > 0}"> # <strong>[[${startCount}]]</strong> đến <strong>[[${endCount}]]</strong> trong tổng số <strong>[[${totalItem}]]</strong> </span>
            <span class="hint-text" th:unless="${totalItem > 0}">Không có Chi Tiết Sản Phẩm trong trang này</span>
        </div>
    </div>

</section>
</body>
</html>