<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/layout}">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
<!----css3---->
<link rel="stylesheet" href="/css/custom.css">
</head>
<body>
    <section>
        <div layout:fragment="content" class="col-md-12">
            <div>
                <div class="row">
                    <div class="col-12">
                        <form class="form-floating">
                            <div class="row d-flex justify-content-center">
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"
                                                placeholder="Nhập mã,tên, email..." id="textSearch" name="textSearch"
                                                aria-label="Search" />
                                            <label for="textSearch" class="form-label">Nhập mã, tên, địa chỉ..</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-3">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <select id="trangThai" style="border-radius: 10px;" class="form-select">
                                                <div style="border: 10px">
                                                </div>
                                            </select> &nbsp;
                                            <label for="trangThai">Trạng thái: </label>
                                        </div>
                                        <button type="reset">Làm mới</button>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group" style="margin-left: 35px">
                                        <div class="form-floating">
                                            <select style="border-radius: 10px;" id="chucVu" class="form-select">
                                            </select> &nbsp;
                                            <label for="chucVu" class="form-label">Chức Vụ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-warning text-white mx-2">Submit</button>
                                        <a class="btn btn-primary text-white mx-2">Làm mới</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 d-flex  justify-content-center">
                            <h2 class="ml-lg-2">QUẢN LÍ CHI TIẾT GIÀY</h2>
                        </div>
                        <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                            <a href="/admin/nhanvien/create" class="btn btn-success">
                                <i class="material-icons">&#xE147;</i> <span>THÊM MỚI</span></a>
                        </div>
                    </div>
                </div>
                <table class="table  table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã chi tiết giày</th>
                            <th>Tên giày</th>
                            <th>Size</th>
                            <th>Loại đế</th>
                            <th>Hãng</th>
                            <th>Loại giày</th>
                            <th>Màu sắc</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Trạng thái</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ctg, iterStat : ${listChiTietGiay}">
                        <td th:text="${iterStat.count}"></td>
                            <td>[[${ctg.ma}]]</td>
                            <td>[[${ctg.giay.ten}]]</td>
                            <td>[[${ctg.kichCo.ten}]]</td>
                            <td>[[${ctg.deGiay.ten}]]</td>
                            <td>[[${ctg.hang.ten}]]</td>
                            <td>[[${ctg.loaiGiay.ten}]]</td>
                            <td>[[${ctg.mauSac.ten}]]</td>
                            <td>[[${ctg.gia}]]</td>
                            <td>[[${ctg.soLuong}]]</td>
                            <td style="width: 160px;">
                                <button class="btn btn-danger" style="border-radius: 30px; font-size: 9px;">Ngưng hoạt động</button>
                            </td>
                            <td>
                                <a class="edit">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a onclick="return confirm('Bạn có muốn xóa không')" class="delete">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>