<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <link rel="stylesheet" href="/css/custom.css">
    <style>
        .custom-width {
            height: 40px;
        }

        .custom-radio {
            width: 50px;
            margin-left: 50px;
            margin-top: 20px;
        }

        #imageList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        #imageList li {
            width: 150px;
            margin: 10px;
        }


        #imageList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

        #imageList li {
            width: 130px;
            margin: 0px;
            position: relative;
        }

        #imageList li
        #imageList li img {
            width: 80px;
            height: 80px;
        }

        #imageList button {
            position: absolute;
            top: -10px;
            right: 4px;
            background: transparent;
            border: none;
            color: #d85555;;
            transition: color 0.2s; /* Hiệu ứng màu khi hover */
        }

        #imageList button:hover {
            color: red; /* Thay đổi màu khi hover */
        }

        .deleteAnh {
            position: absolute;
            top: -10px;
            right: 4px;
            background: transparent;
            border: none;
            color: #d85555;
            transition: color 0.2s; /* Hiệu ứng màu khi hover */
        }

        .deleteAnh:hover {
            color: red; /* Thay đổi màu khi hover */
        }

        /* Ẩn trường input mặc định */
        input[type="file"] {
            display: none;
        }

        .qr-code img {
            width: 90px;
            height: 80px;
        }
        .loading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .loading-spinner {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="/js/chiTietGiay.js"></script>
</head>
<body>
<section layout:fragment="content" style="background-color: white">
    <form id="formThemSP" method="post" th:action="@{/admin/chi-tiet-giay/add}" th:object="${chiTietGiay}"
          enctype="multipart/form-data">
        <h3 class="text-center mt-2 mb-4" style="font-weight: bold">Thêm sản phẩm</h3>
        <div class="row">

            <div class="col-4">
                <div class="form-group mt-4">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center mb-3">Tải ảnh</h3>
                            <ul id="imageList">
                                <!-- Danh sách các ảnh đã chọn sẽ được hiển thị ở đây -->
                            </ul>
                            <p id="imageValidationMessage" th:text="${errAnhs}" class="text-danger"></p>
                            <p th:if="${#fields.hasErrors('anhs')}" th:errors="*{anhs}" class="text-danger"></p>
                            <input id="customFileInput" type="file" name="imageFile" multiple
                                   onchange="showSelectedImages(this)"/>
                            <label for="customFileInput" class="btn btn-danger">
                               Chọn ảnh
                            </label>
                            <label>
                                <button type="button" class="btn btn-danger" onclick="deleteSelectedImages()">Xóa ảnh đã
                                    chọn
                                </button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="container">

                    <input th:field="*{id}" class="form-control custom-width" id="id" name="id" style="display: none;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="maChiTietGiay">Mã chi tiết giày:</label>
                                <input th:field="*{ma}" class="form-control custom-width" id="maChiTietGiay"
                                       name="maChiTietGiay">
                                <p th:text="${errMa}" class="text-danger"></p>
                                <p id="maValidationMessage" class="text-danger"></p>
                                <p class="text-danger" th:if="${#fields.hasErrors('ma')}" th:errors="*{ma}"></p>
                            </div>
                            <div class="col">
                                <label for="tenChiTietGiay"><span style="color: #c82333">*</span> Tên chi tiết
                                    giày:</label>
                                <input th:field="*{ten}" class="form-control custom-width" id="tenChiTietGiay"
                                       name="tenChiTietGiay">
                                <p id="tenValidationMessage" class="text-danger"></p>
                                <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" class="text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="cbbsize"><span style="color: #c82333">*</span> Kích cỡ:</label>
                                <select th:field="*{kichCo}" class="form-select custom-width" id="cbbsize"
                                        name="dayDeo">
                                    <th:block th:each="kichCo : ${kichCo}">
                                        <option th:value="${kichCo.id}" th:label="${kichCo.ten}">
                                        </option>
                                    </th:block>
                                </select>

                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;margin-right: 23px">
                                <button data-toggle="modal" id="size"
                                        data-target="#modalThuocTinh" type="button" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>
                            <div class="col-3">
                                <label for="cbbde"><span style="color: #c82333">*</span> Loại đế:</label>
                                <select th:field="*{deGiay}" class="form-select custom-width" id="cbbde"
                                        name="loaiDe">
                                    <th:block th:each="deGiay : ${deGiay}">
                                        <option th:value="${deGiay.id}">[[${deGiay.ten}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;margin-right: 23px">
                                <button data-toggle="modal" id="de"
                                        data-target="#modalThuocTinh" type="button" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>
                            <div class="col-3">
                                <label for="cbbhang"><span style="color: #c82333">*</span> Hãng:</label>
                                <select th:field="*{hang}" class="form-select custom-width" id="cbbhang" name="hang">
                                    <th:block th:each="hang : ${hang}">
                                        <option th:value="${hang.id}">[[${hang.ten}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;">
                                <button type="button" data-toggle="modal" id="hang"
                                        data-target="#modalThuocTinh" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                <label for="cbbloaiGiay"><span style="color: #c82333">*</span> Loại giày:</label>
                                <select th:field="*{loaiGiay}" class="form-select custom-width" id="cbbloaiGiay"
                                        name="loaiGiay">
                                    <th:block th:each="loaiGiay : ${loaiGiay}">
                                        <option th:value="${loaiGiay.id}">[[${loaiGiay.ten}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;margin-right: 23px">
                                <button data-toggle="modal" id="loaiGiay"
                                        data-target="#modalThuocTinh" type="button" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>
                            <div class="col-3">
                                <label for="cbbmau"><span style="color: #c82333">*</span> Màu sắc:</label>
                                <select th:field="*{mauSac}" class="form-select custom-width" id="cbbmau"
                                        name="mauSac">
                                    <th:block th:each="mauSac : ${mauSac}">
                                        <option th:value="${mauSac.id}">[[${mauSac.ten}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;margin-right: 23px">
                                <button id="mau" type="button" data-toggle="modal"
                                        data-target="#modalThuocTinh" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>
                            <div class="col-3">
                                <label for="cbbgiay"><span style="color: #c82333">*</span> Kiểu dáng:</label>
                                <select th:field="*{giay}" class="form-select custom-width" id="cbbgiay"
                                        name="tenGiay">
                                    <th:block th:each="giay : ${giay}">
                                        <option th:value="${giay.id}">[[${giay.ten}]]</option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-1" style="margin-top: 38px; margin-left: -16px;">
                                <button id="giay" type="button" data-toggle="modal"
                                        data-target="#modalThuocTinh" class="clickButton btn text-primary"
                                        style=" padding: 1px 9px; box-shadow: 0px 1px 6px 1px #bfb9b9">
                                    <i class="material-symbols-outlined mt-1" style="font-weight: 500;font-size: 22px">add</i>
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="soLuong"><span style="color: #c82333">*</span> Số lượng:</label>
                                <input th:field="*{soLuong}" class="form-control custom-width" id="soluong"
                                       name="soluong">
                                <p class="text-danger" th:if="${#fields.hasErrors('soLuong')}" th:errors="*{soLuong}"></p>
                            </div>
                            <div class="col">
                                <label for="gia"><span style="color: #c82333">*</span> Giá:</label>
                                <!-- Sử dụng th:value và #numbers.formatDecimal để hiển thị giá mà không có phần thập phân và số 0 cuối cùng nếu là số nguyên -->
                                <input th:field="*{gia}" class="form-control custom-width" id="gia" name="gia"
                                       th:value="${#numbers.formatDecimal(chiTietGiay.gia, 0, 'COMMA', 0, 'POINT')}"
                                       oninput="formatCurrency(this)" />

                                <script type="text/javascript">
                                    function formatCurrency(input) {
                                        // Remove non-numeric characters, including commas
                                        var inputValue = input.value.replace(/[^0-9]/g, '');

                                        // Format the number with commas for display
                                        var formattedValue = Number(inputValue).toLocaleString('en-US');

                                        // Update the input value with the formatted number for display
                                        input.value = formattedValue;

                                        // Set the raw numeric value without commas as a data attribute
                                        input.setAttribute('data-raw-value', inputValue);
                                    }

                                    // Add an event listener to the form to submit the raw numeric value without commas
                                    document.getElementById('formThemSP').addEventListener('submit', function () {
                                        var input = document.getElementById('gia');
                                        var rawValue = input.getAttribute('data-raw-value');
                                        input.value = rawValue;
                                    });
                                </script>

                                <p id="giaValidationMessage" class="text-danger"></p>
                                <p class="text-danger" th:if="${#fields.hasErrors('gia')}" th:errors="*{gia}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="moTa">Mô tả: </label>
                                <textarea th:field="*{moTa}" class="form-control custom-width" id="moTa"
                                          name="moTa"></textarea>
                                <p id="moTaValidationMessage" class="text-danger"></p>
                                <p class="text-danger" th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"></p>
                            </div>
                            <div class="col">
                                <label>Trạng thái:</label>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <input type="radio" id="active" name="trangThai" value="0"
                                               checked>
                                        <label for="active">Hoạt động</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="radio" id="inactive" name="trangThai" value="1" >
                                        <label for="inactive">Ngưng hoạt động</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="moTa"><span style="color: #c82333">*</span> QR CODE: </label>
                                <input th:field="*{qrCode}" class="form-control custom-width" id="qrCode"
                                       name="qrCode">
                                <p th:text="${errQr}" class="text-danger"></p>
                                <p id="qrCodeValidationMessage" th:if="${#fields.hasErrors('qrCode')}" th:errors="*{qrCode}" class="text-danger"></p>
                            </div>
                            <div class="qr-code col">
                                <div th:text="*{qrCode}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="text-align: center">
            <input id="submitButton" type="submit" class="btn btn-primary mb-3" style=" margin-top: 28px" value="Thêm mới">
        </div>
    </form>
    <div class="modal fade" id="modalThuocTinh" tabindex="-1" data-backdrop="static"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm nhanh thuộc tính: </h5>
                    <a type="button" class="close" data-dismiss="modal"
                       aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label><span style="color: #c82333">*</span> Nhập mã</label>
                                <input type="text" name="maThuocTinh" id="inputmaThuocTinh"
                                       class="form-control">
                                <span class="text-danger" id="errMaThuocTinh"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="mt-4"><span style="color: #c82333">*</span> Nhập tên</label>
                                <input type="text" name="tenThuocTinh"
                                       class="form-control" id="inputtenThuocTinh">
                                <span class="text-danger" id="errTenThuocTinh"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--                    ?link day nha thang ngiu-->
                    <button id="btnSubmit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/addThuocTinh.js"></script>
</section>
</body>
</html>