<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <link rel="stylesheet" href="/css/custom.css">
    <style>
        .custom-width {
            height: 40px;
            border-radius: 12px;
        }

        .custom-radio {
            width: 50px;
            margin-left: 50px;
            margin-top: 20px;
        }

        #imageList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        #imageList li {
            width: 150px;
            margin: 10px;
        }

        #imageList img {
            max-width: 100%;
            height: auto;
        }

        #imageList {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

        #imageList li {
            width: 150px;
            margin: 10px;
            position: relative;
        }

        #imageList img {
            max-width: 100%;
            height: auto;
        }

        #imageList button {
            position: absolute;
            top: 5px;
            right: 5px;
            background: transparent;
            border: none;
            color: #5a6268;
            transition: color 0.2s; /* Hiệu ứng màu khi hover */
        }

        #imageList button:hover {
            color: red; /* Thay đổi màu khi hover */
        }

        /* Ẩn trường input mặc định */
        input[type="file"] {
            display: none;
        }

    </style>
    <script>
        var selectedImages = []; // Mảng lưu trữ các ảnh đã chọn

        function showSelectedImages(input) {
            var imageList = document.getElementById("imageList");
            imageList.innerHTML = ''; // Xóa bỏ danh sách ảnh trước đó

            for (var i = 0; i < input.files.length; i++) {
                var file = input.files[i];

                if (file) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        var img = document.createElement("img");
                        img.src = e.target.result;

                        var listItem = document.createElement("li");
                        listItem.appendChild(img);

                        // Tạo nút xóa và thêm sự kiện xóa
                        var deleteButton = document.createElement("button");
                        deleteButton.innerHTML = '<i class="fa fa-times-circle"></i>'; // Biểu tượng X
                        deleteButton.onclick = function () {
                            deleteImage(this);
                        };
                        listItem.appendChild(deleteButton);

                        imageList.appendChild(listItem);
                        selectedImages.push(file); // Lưu trữ ảnh đã chọn
                    };

                    reader.readAsDataURL(file);
                }
            }
        }


        function deleteImage(button) {
            var listItem = button.parentElement;
            var index = Array.from(listItem.parentElement.children).indexOf(listItem);
            selectedImages.splice(index, 1); // Xóa ảnh khỏi mảng
            listItem.remove(); // Xóa phần tử li chứa ảnh
        }

        function deleteSelectedImages() {
            // Xóa tất cả các ảnh đã chọn
            selectedImages = [];
            var imageList = document.getElementById("imageList");
            imageList.innerHTML = '';
        }
    </script>

</head>
<body>
<section>
    <div layout:fragment="content" class="col-md-9" style="margin: auto">
        <form method="post" th:action="@{/admin/chi-tiet-giay/update}" th:object="${chiTietGiay}" enctype="multipart/form-data">
                <input  th:field="*{id}" class="form-control custom-width" id="id" name="id" style="display: none;">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="maChiTietGiay">Mã chi tiết giày:</label>
                        <input  th:field="*{ma}" class="form-control custom-width" id="maChiTietGiay" name="maChiTietGiay">
                    </div>
                    <div class="col">
                        <label for="tenGiay">Tên giày:</label>
                        <select th:field="*{giay}" class="form-control custom-width" id="tenGiay" required="" name="tenGiay">
                            <th:block th:each="giay : ${giay}">
                                <option th:value="${giay.id}">[[${giay.ten}]]</option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="kichCo">Kích cỡ:</label>
                        <select th:field="*{kichCo}" class="form-control custom-width" id="kichCo" required="" name="dayDeo">
                            <th:block th:each="kichCo : ${kichCo}">
                                    <option th:value="${kichCo.id}" th:label="${kichCo.ten}">
<!--                                        [[${kichCo.ten}]]-->
                                    </option>
                            </th:block>
                        </select>

                    </div>
                    <div class="col">
                        <label for="loaiDe">Loại đế:</label>
                        <select th:field="*{deGiay}" class="form-control custom-width" id="loaiDe" required="" name="loaiDe">
                            <th:block th:each="deGiay : ${deGiay}">
                                <option th:value="${deGiay.id}">[[${deGiay.ten}]]</option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="hang">Hãng:</label>
                        <select th:field="*{hang}" class="form-control custom-width" id="hang" required="" name="hang">
                            <th:block th:each="hang : ${hang}">
                                <option th:value="${hang.id}">[[${hang.ten}]]</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col">
                        <label for="loaiGiay">Loại giày:</label>
                        <select th:field="*{loaiGiay}" class="form-control custom-width" id="loaiGiay" required="" name="loaiGiay">
                            <th:block th:each="loaiGiay : ${loaiGiay}">
                                <option th:value="${loaiGiay.id}">[[${loaiGiay.ten}]]</option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="mauSac">Màu sắc:</label>
                        <select th:field="*{mauSac}" class="form-control custom-width" id="mauSac" required="" name="mauSac">
                            <th:block th:each="mauSac : ${mauSac}">
                                <option th:value="${mauSac.id}">[[${mauSac.ten}]]</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col">
                        <label for="gia">Giá:</label>
                        <input  th:field="*{gia}" class="form-control custom-width" id="gia" name="gia">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="soLuong">Số lượng:</label>
                        <input th:field="*{soLuong}" class="form-control custom-width" id="soluong" name="soluong">
                    </div>
                    <div class="col">
                        <label>Trạng thái:</label>
                        <div>
                            <input class="custom-radio" type="radio" id="active" name="trangThai" value="1" checked>
                            <label for="active">Active</label>

                            <input class="custom-radio" type="radio" id="inactive" name="trangThai" value="0">
                            <label for="inactive">Inactive</label>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Upload Images</h1>
            <div th:with="anhList=${anh}">
                <ul id="imageList">
                    <li th:each="anh : ${anh}">
                        <img th:src="@{'/img/' + ${anh.anhChinh}}"
                             class="img-fluid" alt="" />
                        <button ><i class="fa fa-times-circle"></i></button>
                    </li>
                </ul>
            </div>

            <input id="customFileInput" type="file" name="imageFile" multiple required
                   onchange="showSelectedImages(this)"/>
            <label for="customFileInput" class="btn btn-danger">
                Choose Files
            </label>
            <label>
                <a type="button" class="btn btn-danger" th:href="@{'/admin/chi-tiet-giay/delete-anh/' + ${id}}" title="Xóa" onclick="deleteSelectedImages()">Xóa ảnh đã chọn</a>
            </label>

            <div class="form-group" style="text-align: center">
                <input type="submit" class="btn btn-primary" style="height: 50px; margin-top: 50px" value="Submit">
            </div>
        </form>

    </div>
</section>
</body>
</html>